In [68]:
import pandas as pd

In [ ]:
coor_clean = coor.drop(['usa_state_code', 'usa_state_latitude', 'usa_state_longitude', 'usa_state', 'country_code'], axis = 1, inplace = True) 
coor_clean

In [55]:
coor

    latitude   longitude        country
0 -38.416097  -63.616672      Argentina
1 -14.235004  -51.925280         Brazil
2  56.130366 -106.346771         Canada
3  35.861660  104.195397          China
4  46.227638    2.213749         France
5  -0.789275  113.921327      Indonesia
6  20.593684   78.962880          India
7  61.524010  105.318756         Russia
8  48.379433   31.165580        Ukraine
9  37.090240  -95.712891  United States

In [ ]:
coor.to_csv('Coordenadas.csv')

In [ ]:
prueba = pd.read_csv('Coordenadas.csv')
prueba

In [ ]:
prueba.country.unique()

In [ ]:
prueba = prueba.loc[prueba['country'].isin(['China', 'United States', 'India', 'Brazil', 'Argentina', 'Russia', 'Indonesia', 'France', 'Canada', 'Ukraine'])]
prueba

In [ ]:
prueba.to_csv('Coordenadas.csv')

In [54]:
coor = pd.read_csv('Coordenadas.csv')
coor

FileNotFoundError: [Errno 2] No such file or directory: 'Coordenadas.csv'

In [ ]:
coor = pd.read_csv('Tableau/Coordenadas.csv')
coor

In [ ]:
coor.drop(columns=['Unnamed: 0','Unnamed: 0.1'], axis=1, inplace=True)
coor

In [56]:
prod = pd.read_csv('FAO_csv/production_clean.csv')
prod

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Area,Item,Element,Year,Unit,Value
0,0,0,39,Afghanistan,Barley,Production,2000,tonnes,74000.0
1,1,1,40,Afghanistan,Barley,Production,2001,tonnes,87000.0
2,2,2,41,Afghanistan,Barley,Production,2002,tonnes,345000.0
3,3,3,42,Afghanistan,Barley,Production,2003,tonnes,240000.0
4,4,4,43,Afghanistan,Barley,Production,2004,tonnes,290000.0
...,...,...,...,...,...,...,...,...,...
19588,19588,19588,49673,Zimbabwe,Wheat,Production,2016,tonnes,42008.0
19589,19589,19589,49674,Zimbabwe,Wheat,Production,2017,tonnes,38715.0
19590,19590,19590,49675,Zimbabwe,Wheat,Production,2018,tonnes,45000.0
19591,19591,19591,49676,Zimbabwe,Wheat,Production,2019,tonnes,80000.0
19592,19592,19592,49677,Zimbabwe,Wheat,Production,2020,tonnes,150000.0

In [ ]:
prod

In [57]:
prod_clean = prod.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], axis=1)
prod_clean

              Area    Item     Element  Year    Unit     Value
0      Afghanistan  Barley  Production  2000  tonnes   74000.0
1      Afghanistan  Barley  Production  2001  tonnes   87000.0
2      Afghanistan  Barley  Production  2002  tonnes  345000.0
3      Afghanistan  Barley  Production  2003  tonnes  240000.0
4      Afghanistan  Barley  Production  2004  tonnes  290000.0
...            ...     ...         ...   ...     ...       ...
19588     Zimbabwe   Wheat  Production  2016  tonnes   42008.0
19589     Zimbabwe   Wheat  Production  2017  tonnes   38715.0
19590     Zimbabwe   Wheat  Production  2018  tonnes   45000.0
19591     Zimbabwe   Wheat  Production  2019  tonnes   80000.0
19592     Zimbabwe   Wheat  Production  2020  tonnes  150000.0

[19593 rows x 6 columns]

In [ ]:
coor

In [60]:
prod_coor = prod_clean.loc[prod['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russia', 'Ukraine', 'United States'])]
prod_coor

            Area    Item     Element  Year    Unit       Value
504    Argentina  Barley  Production  2000  tonnes    722490.0
505    Argentina  Barley  Production  2001  tonnes    530045.0
506    Argentina  Barley  Production  2002  tonnes    549830.0
507    Argentina  Barley  Production  2003  tonnes   1005460.0
508    Argentina  Barley  Production  2004  tonnes    894610.0
...          ...     ...         ...   ...     ...         ...
18205    Ukraine   Wheat  Production  2016  tonnes  26098830.0
18206    Ukraine   Wheat  Production  2017  tonnes  26208980.0
18207    Ukraine   Wheat  Production  2018  tonnes  24652840.0
18208    Ukraine   Wheat  Production  2019  tonnes  28370280.0
18209    Ukraine   Wheat  Production  2020  tonnes  24912350.0

[1257 rows x 6 columns]

In [34]:
prod_coor

            Area    Item     Element  Year    Unit       Value
504    Argentina  Barley  Production  2000  tonnes    722490.0
505    Argentina  Barley  Production  2001  tonnes    530045.0
506    Argentina  Barley  Production  2002  tonnes    549830.0
507    Argentina  Barley  Production  2003  tonnes   1005460.0
508    Argentina  Barley  Production  2004  tonnes    894610.0
...          ...     ...         ...   ...     ...         ...
18205    Ukraine   Wheat  Production  2016  tonnes  26098830.0
18206    Ukraine   Wheat  Production  2017  tonnes  26208980.0
18207    Ukraine   Wheat  Production  2018  tonnes  24652840.0
18208    Ukraine   Wheat  Production  2019  tonnes  28370280.0
18209    Ukraine   Wheat  Production  2020  tonnes  24912350.0

[1257 rows x 6 columns]

In [35]:
coor

    latitude   longitude        country
0 -38.416097  -63.616672      Argentina
1 -14.235004  -51.925280         Brazil
2  56.130366 -106.346771         Canada
3  35.861660  104.195397          China
4  46.227638    2.213749         France
5  -0.789275  113.921327      Indonesia
6  20.593684   78.962880          India
7  61.524010  105.318756         Russia
8  48.379433   31.165580        Ukraine
9  37.090240  -95.712891  United States

In [66]:
import numpy as np

In [77]:
latitude = []

for row in prod_coor['Area']:
        if row == 'Argentina' :   latitude.append('-38.416097')
        elif row == 'Brazil' :   latitude.append('-14.235004')
        elif row == 'China' :   latitude.append('35.861660')
        elif row == 'France' :   latitude.append('46.227638')
        elif row == 'Indonesia' :   latitude.append('-0.789275')
        elif row == 'India' :   latitude.append('20.593684')
        elif row == 'Russia' :   latitude.append('61.524010')
        elif row == 'Ukraine' :   latitude.append('48.379433')
        elif row == 'Canada' :   latitude.append('56.130366')
        
        else:
            latitude.append('37.090240')

In [78]:
prod_coor['latitude'] = latitude
prod_coor

/var/folders/df/t_fbtp4x1ql7m1lfcqwsp3240000gn/T/ipykernel_12070/1156582464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_coor['latitude'] = latitude

            Area    Item     Element  Year    Unit       Value    latitude
504    Argentina  Barley  Production  2000  tonnes    722490.0  -38.416097
505    Argentina  Barley  Production  2001  tonnes    530045.0  -38.416097
506    Argentina  Barley  Production  2002  tonnes    549830.0  -38.416097
507    Argentina  Barley  Production  2003  tonnes   1005460.0  -38.416097
508    Argentina  Barley  Production  2004  tonnes    894610.0  -38.416097
...          ...     ...         ...   ...     ...         ...         ...
18205    Ukraine   Wheat  Production  2016  tonnes  26098830.0   48.379433
18206    Ukraine   Wheat  Production  2017  tonnes  26208980.0   48.379433
18207    Ukraine   Wheat  Production  2018  tonnes  24652840.0   48.379433
18208    Ukraine   Wheat  Production  2019  tonnes  28370280.0   48.379433
18209    Ukraine   Wheat  Production  2020  tonnes  24912350.0   48.379433

[1257 rows x 7 columns]

In [80]:
coor

    latitude   longitude        country
0 -38.416097  -63.616672      Argentina
1 -14.235004  -51.925280         Brazil
2  56.130366 -106.346771         Canada
3  35.861660  104.195397          China
4  46.227638    2.213749         France
5  -0.789275  113.921327      Indonesia
6  20.593684   78.962880          India
7  61.524010  105.318756         Russia
8  48.379433   31.165580        Ukraine
9  37.090240  -95.712891  United States

In [96]:
longitude = []

for row in prod_coor['Area']:
        if row == 'Argentina' :   longitude.append('-63.616672')
        elif row == 'Brazil' :   longitude.append('-51.925280')
        elif row == 'China' :   longitude.append('104.195397')
        elif row == 'France' :   longitude.append('2.213749')
        elif row == 'Indonesia' :   longitude.append('113.921327')
        elif row == 'India' :   longitude.append('78.962880')
        elif row == 'Russia' :   longitude.append('105.318756')
        elif row == 'Ukraine' :   longitude.append('31.165580')
        elif row == 'Canada' :   longitude.append('-106.346771')

        else: 'United States' : longitude.append('-95.712891')

SyntaxError: illegal target for annotation (3674973232.py, line 14)

In [91]:
prod_coor['longitude'] = longitude
prod_coor

/var/folders/df/t_fbtp4x1ql7m1lfcqwsp3240000gn/T/ipykernel_12070/2347283234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod_coor['longitude'] = longitude

,Area,Item,Element,Year,Unit,Value,latitude,longitude
504,Argentina,Barley,Production,2000,tonnes,722490.0,-38.416097,-63.616672
505,Argentina,Barley,Production,2001,tonnes,530045.0,-38.416097,-63.616672
506,Argentina,Barley,Production,2002,tonnes,549830.0,-38.416097,-63.616672
507,Argentina,Barley,Production,2003,tonnes,1005460.0,-38.416097,-63.616672
508,Argentina,Barley,Production,2004,tonnes,894610.0,-38.416097,-63.616672
...,...,...,...,...,...,...,...,...
18205,Ukraine,Wheat,Production,2016,tonnes,26098830.0,48.379433,31.165580
18206,Ukraine,Wheat,Production,2017,tonnes,26208980.0,48.379433,31.165580
18207,Ukraine,Wheat,Production,2018,tonnes,24652840.0,48.379433,31.165580
18208,Ukraine,Wheat,Production,2019,tonnes,28370280.0,48.379433,31.165580
18209,Ukraine,Wheat,Production,2020,tonnes,24912350.0,48.379433,31.165580

In [ ]:
latitude = []

for row in prod_clean['Area']:
        if row = Argentina :   rating.append('-38.416097')
        elif row < 2.0:   rating.append('A')
        elif row < 3.0:  rating.append('BB')
        elif row < 4.0:  rating.append('B')
        elif row < 5.0:  rating.append('C')
        
        else:           rating.append('Not_Rated')

In [95]:
prod_coor.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Ukraine'], dtype=object)

In [93]:
prod_coor.to_csv('Prod_Coord.csv')

In [52]:
#   rating = []
    for row in df['risk_score']:
        if row < 1.0 :    rating.append('AA')
        elif row < 2.0:   rating.append('A')
        elif row < 3.0:  rating.append('BB')
        elif row < 4.0:  rating.append('B')
        elif row < 5.0:  rating.append('C')
        
        else:           rating.append('Not_Rated')

IndentationError: unexpected indent (1299462245.py, line 2)