In [1]:
import pandas as pd
import numpy as np

#latitude = []

for row in prod_coor['Area']:
        if row == 'Argentina' :   latitude.append('-38.416097')
        elif row == 'Brazil' :   latitude.append('-14.235004')
        elif row == 'China' :   latitude.append('35.861660')
        elif row == 'France' :   latitude.append('46.227638')
        elif row == 'Indonesia' :   latitude.append('-0.789275')
        elif row == 'India' :   latitude.append('20.593684')
        elif row == 'Russia' :   latitude.append('61.524010')
        elif row == 'Ukraine' :   latitude.append('48.379433')
        elif row == 'Canada' :   latitude.append('56.130366')
        
        else: 'United States' : latitude.append('37.090240')
            
longitude = []

for row in prod_coor['Area']:
        if row == 'Argentina' :   longitude.append('-63.616672')
        elif row == 'Brazil' :   longitude.append('-51.925280')
        elif row == 'China' :   longitude.append('104.195397')
        elif row == 'France' :   longitude.append('2.213749')
        elif row == 'Indonesia' :   longitude.append('113.921327')
        elif row == 'India' :   longitude.append('78.962880')
        elif row == 'Russia' :   longitude.append('105.318756')
        elif row == 'Ukraine' :   longitude.append('31.165580')
        elif row == 'Canada' :   longitude.append('-106.346771')

        else: 'United States' : longitude.append('-95.712891')

In [39]:
df = pd.read_csv('FAO_csv/production_clean.csv')
df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Chad', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, mainland', 'China, Taiwan Province of', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'French Guyana', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Reunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [40]:
df['Area'].replace({"United States of America":"United States"},inplace=True)
df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Chad', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, mainland', 'China, Taiwan Province of', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'French Guyana', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Reunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [35]:

df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Ukraine', 'United States'], dtype=object)

In [41]:
df = df.loc[df['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States'])]
df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine', 'United States'],
      dtype=object)

In [43]:
latitude = []

for row in df['Area']:
        if row == 'Argentina' :   latitude.append('-38.416097')
        elif row == 'Brazil' :   latitude.append('-14.235004')
        elif row == 'China' :   latitude.append('35.861660')
        elif row == 'France' :   latitude.append('46.227638')
        elif row == 'Indonesia' :   latitude.append('-0.789275')
        elif row == 'India' :   latitude.append('20.593684')
        elif row == 'Russian Federation' :   latitude.append('61.524010')
        elif row == 'Ukraine' :   latitude.append('48.379433')
        elif row == 'Canada' :   latitude.append('56.130366')
        elif row == 'United States' : latitude.append('37.090240')
        else: latitude.append('X')

In [44]:
longitude = []

for row in df['Area']:
        if row == 'Argentina' :   longitude.append('-63.616672')
        elif row == 'Brazil' :   longitude.append('-51.925280')
        elif row == 'China' :   longitude.append('104.195397')
        elif row == 'France' :   longitude.append('2.213749')
        elif row == 'Indonesia' :   longitude.append('113.921327')
        elif row == 'India' :   longitude.append('78.962880')
        elif row == 'Russian Federation' :   longitude.append('105.318756')
        elif row == 'Ukraine' :   longitude.append('31.165580')
        elif row == 'Canada' :   longitude.append('-106.346771')
        elif row == 'United States' : longitude.append('-95.712891')

        else: longitude.append('Y')

In [45]:
df['longitude'] = longitude
df['latitude'] = latitude
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Area,Item,Element,Year,Unit,Value,longitude,latitude
504,504,504,1444,Argentina,Barley,Production,2000,tonnes,722490.0,-63.616672,-38.416097
505,505,505,1445,Argentina,Barley,Production,2001,tonnes,530045.0,-63.616672,-38.416097
506,506,506,1446,Argentina,Barley,Production,2002,tonnes,549830.0,-63.616672,-38.416097
507,507,507,1447,Argentina,Barley,Production,2003,tonnes,1005460.0,-63.616672,-38.416097
508,508,508,1448,Argentina,Barley,Production,2004,tonnes,894610.0,-63.616672,-38.416097
...,...,...,...,...,...,...,...,...,...,...,...
18659,18659,18659,46806,United States,Wheat,Production,2016,tonnes,62831507.0,-95.712891,37.090240
18660,18660,18660,46807,United States,Wheat,Production,2017,tonnes,47379810.0,-95.712891,37.090240
18661,18661,18661,46808,United States,Wheat,Production,2018,tonnes,51305540.0,-95.712891,37.090240
18662,18662,18662,46809,United States,Wheat,Production,2019,tonnes,52580890.0,-95.712891,37.090240
18663,18663,18663,46810,United States,Wheat,Production,2020,tonnes,49690680.0,-95.712891,37.090240

In [46]:
df = df.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], axis=1)
df

,Area,Item,Element,Year,Unit,Value,longitude,latitude
504,Argentina,Barley,Production,2000,tonnes,722490.0,-63.616672,-38.416097
505,Argentina,Barley,Production,2001,tonnes,530045.0,-63.616672,-38.416097
506,Argentina,Barley,Production,2002,tonnes,549830.0,-63.616672,-38.416097
507,Argentina,Barley,Production,2003,tonnes,1005460.0,-63.616672,-38.416097
508,Argentina,Barley,Production,2004,tonnes,894610.0,-63.616672,-38.416097
...,...,...,...,...,...,...,...,...
18659,United States,Wheat,Production,2016,tonnes,62831507.0,-95.712891,37.090240
18660,United States,Wheat,Production,2017,tonnes,47379810.0,-95.712891,37.090240
18661,United States,Wheat,Production,2018,tonnes,51305540.0,-95.712891,37.090240
18662,United States,Wheat,Production,2019,tonnes,52580890.0,-95.712891,37.090240
18663,United States,Wheat,Production,2020,tonnes,49690680.0,-95.712891,37.090240

In [47]:
df.to_csv('Prod_Coord.csv')

In [48]:
df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine', 'United States'],
      dtype=object)

In [49]:
df

,Area,Item,Element,Year,Unit,Value,longitude,latitude
504,Argentina,Barley,Production,2000,tonnes,722490.0,-63.616672,-38.416097
505,Argentina,Barley,Production,2001,tonnes,530045.0,-63.616672,-38.416097
506,Argentina,Barley,Production,2002,tonnes,549830.0,-63.616672,-38.416097
507,Argentina,Barley,Production,2003,tonnes,1005460.0,-63.616672,-38.416097
508,Argentina,Barley,Production,2004,tonnes,894610.0,-63.616672,-38.416097
...,...,...,...,...,...,...,...,...
18659,United States,Wheat,Production,2016,tonnes,62831507.0,-95.712891,37.090240
18660,United States,Wheat,Production,2017,tonnes,47379810.0,-95.712891,37.090240
18661,United States,Wheat,Production,2018,tonnes,51305540.0,-95.712891,37.090240
18662,United States,Wheat,Production,2019,tonnes,52580890.0,-95.712891,37.090240
18663,United States,Wheat,Production,2020,tonnes,49690680.0,-95.712891,37.090240

In [61]:
imp = pd.read_csv('FAO_csv/trade_crops/Import_qty.csv')
imp.area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "CÃ´te d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'TÃ¼rkiye',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [59]:
imp['area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)

In [63]:
imp_clean = imp.loc[imp['area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
imp_clean.area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [73]:
imp.to_csv('FAO_csv/trade_crops/Import_qty.csv')

In [71]:
prod_imp = pd.read_csv('FAO_csv/production_clean.csv')
prod_imp

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Area,Item,Element,Year,Unit,Value
0,0,0,39,Afghanistan,Barley,Production,2000,tonnes,74000.0
1,1,1,40,Afghanistan,Barley,Production,2001,tonnes,87000.0
2,2,2,41,Afghanistan,Barley,Production,2002,tonnes,345000.0
3,3,3,42,Afghanistan,Barley,Production,2003,tonnes,240000.0
4,4,4,43,Afghanistan,Barley,Production,2004,tonnes,290000.0
...,...,...,...,...,...,...,...,...,...
19588,19588,19588,49673,Zimbabwe,Wheat,Production,2016,tonnes,42008.0
19589,19589,19589,49674,Zimbabwe,Wheat,Production,2017,tonnes,38715.0
19590,19590,19590,49675,Zimbabwe,Wheat,Production,2018,tonnes,45000.0
19591,19591,19591,49676,Zimbabwe,Wheat,Production,2019,tonnes,80000.0
19592,19592,19592,49677,Zimbabwe,Wheat,Production,2020,tonnes,150000.0

In [67]:
prod_imp = prod_imp.loc[prod_imp['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
prod_imp.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [68]:
prod_imp = prod_imp.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
prod_imp

                           Area    Item     Element  Year    Unit       Value
504                   Argentina  Barley  Production  2000  tonnes    722490.0
505                   Argentina  Barley  Production  2001  tonnes    530045.0
506                   Argentina  Barley  Production  2002  tonnes    549830.0
507                   Argentina  Barley  Production  2003  tonnes   1005460.0
508                   Argentina  Barley  Production  2004  tonnes    894610.0
...                         ...     ...         ...   ...     ...         ...
18659  United States of America   Wheat  Production  2016  tonnes  62831507.0
18660  United States of America   Wheat  Production  2017  tonnes  47379810.0
18661  United States of America   Wheat  Production  2018  tonnes  51305540.0
18662  United States of America   Wheat  Production  2019  tonnes  52580890.0
18663  United States of America   Wheat  Production  2020  tonnes  49690680.0

[1635 rows x 6 columns]

In [78]:
prod_imp.to_csv('FAO_csv/prod_imp.csv')

In [74]:
imp.to_csv('FAO_csv/trade_crops/Import_qty.csv')
imp

,Unnamed: 0,area,item,element,year,unit,value_imp_qty
0,0,Afghanistan,Barley,Import Quantity,2000,tonnes,5402.0
1,1,Afghanistan,Barley,Import Quantity,2001,tonnes,8600.0
2,2,Afghanistan,Barley,Import Quantity,2002,tonnes,3112.0
3,3,Afghanistan,Barley,Import Quantity,2003,tonnes,1311.0
4,4,Afghanistan,Barley,Import Quantity,2004,tonnes,1310.0
...,...,...,...,...,...,...,...
31594,31594,Zimbabwe,Wheat,Import Quantity,2016,tonnes,268891.0
31595,31595,Zimbabwe,Wheat,Import Quantity,2017,tonnes,205760.0
31596,31596,Zimbabwe,Wheat,Import Quantity,2018,tonnes,276776.0
31597,31597,Zimbabwe,Wheat,Import Quantity,2019,tonnes,124632.0
31598,31598,Zimbabwe,Wheat,Import Quantity,2020,tonnes,244249.0

In [75]:
imp = imp.loc[imp['area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
imp.area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [76]:
imp = imp.drop(['Unnamed: 0'], axis=1)
imp

,area,item,element,year,unit,value_imp_qty
710,Argentina,Barley,Import Quantity,2000,tonnes,16563.52
711,Argentina,Barley,Import Quantity,2001,tonnes,115.00
712,Argentina,Barley,Import Quantity,2002,tonnes,85.00
713,Argentina,Barley,Import Quantity,2003,tonnes,59.00
714,Argentina,Barley,Import Quantity,2004,tonnes,78.00
...,...,...,...,...,...,...
30300,United States of America,Wheat,Import Quantity,2016,tonnes,2210889.00
30301,United States of America,Wheat,Import Quantity,2017,tonnes,2812826.00
30302,United States of America,Wheat,Import Quantity,2018,tonnes,3136161.00
30303,United States of America,Wheat,Import Quantity,2019,tonnes,1836134.00
30304,United States of America,Wheat,Import Quantity,2020,tonnes,1909895.00

In [77]:
imp.to_csv('FAO_csv/trade_crops/Import_qty.csv')

In [79]:
df = pd.read_csv('FAO_csv/prod_imp.csv')
df

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Area,Item,Element,Year,Unit,Value
0,0,0,0,39,Afghanistan,Barley,Production,2000,tonnes,74000.0
1,1,1,1,40,Afghanistan,Barley,Production,2001,tonnes,87000.0
2,2,2,2,41,Afghanistan,Barley,Production,2002,tonnes,345000.0
3,3,3,3,42,Afghanistan,Barley,Production,2003,tonnes,240000.0
4,4,4,4,43,Afghanistan,Barley,Production,2004,tonnes,290000.0
...,...,...,...,...,...,...,...,...,...,...
19588,19588,19588,19588,49673,Zimbabwe,Wheat,Production,2016,tonnes,42008.0
19589,19589,19589,19589,49674,Zimbabwe,Wheat,Production,2017,tonnes,38715.0
19590,19590,19590,19590,49675,Zimbabwe,Wheat,Production,2018,tonnes,45000.0
19591,19591,19591,19591,49676,Zimbabwe,Wheat,Production,2019,tonnes,80000.0
19592,19592,19592,19592,49677,Zimbabwe,Wheat,Production,2020,tonnes,150000.0

In [81]:
df = df.loc[df['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [82]:
df.to_csv('FAO_csv/prod_imp.csv')

In [83]:
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0', 'Unnamed: 0.3', 'Unnamed: 0.2'], axis=1)
df

                           Area    Item     Element  Year    Unit       Value
504                   Argentina  Barley  Production  2000  tonnes    722490.0
505                   Argentina  Barley  Production  2001  tonnes    530045.0
506                   Argentina  Barley  Production  2002  tonnes    549830.0
507                   Argentina  Barley  Production  2003  tonnes   1005460.0
508                   Argentina  Barley  Production  2004  tonnes    894610.0
...                         ...     ...         ...   ...     ...         ...
18659  United States of America   Wheat  Production  2016  tonnes  62831507.0
18660  United States of America   Wheat  Production  2017  tonnes  47379810.0
18661  United States of America   Wheat  Production  2018  tonnes  51305540.0
18662  United States of America   Wheat  Production  2019  tonnes  52580890.0
18663  United States of America   Wheat  Production  2020  tonnes  49690680.0

[1635 rows x 6 columns]

In [84]:
df.to_csv('FAO_csv/prod_imp.csv')
df

                           Area    Item     Element  Year    Unit       Value
504                   Argentina  Barley  Production  2000  tonnes    722490.0
505                   Argentina  Barley  Production  2001  tonnes    530045.0
506                   Argentina  Barley  Production  2002  tonnes    549830.0
507                   Argentina  Barley  Production  2003  tonnes   1005460.0
508                   Argentina  Barley  Production  2004  tonnes    894610.0
...                         ...     ...         ...   ...     ...         ...
18659  United States of America   Wheat  Production  2016  tonnes  62831507.0
18660  United States of America   Wheat  Production  2017  tonnes  47379810.0
18661  United States of America   Wheat  Production  2018  tonnes  51305540.0
18662  United States of America   Wheat  Production  2019  tonnes  52580890.0
18663  United States of America   Wheat  Production  2020  tonnes  49690680.0

[1635 rows x 6 columns]