In [1]:
import pandas as pd
import numpy as np

#latitude = []

for row in prod_coor['Area']:
        if row == 'Argentina' :   latitude.append('-38.416097')
        elif row == 'Brazil' :   latitude.append('-14.235004')
        elif row == 'China' :   latitude.append('35.861660')
        elif row == 'France' :   latitude.append('46.227638')
        elif row == 'Indonesia' :   latitude.append('-0.789275')
        elif row == 'India' :   latitude.append('20.593684')
        elif row == 'Russia' :   latitude.append('61.524010')
        elif row == 'Ukraine' :   latitude.append('48.379433')
        elif row == 'Canada' :   latitude.append('56.130366')
        
        else: 'United States' : latitude.append('37.090240')
            
longitude = []

for row in prod_coor['Area']:
        if row == 'Argentina' :   longitude.append('-63.616672')
        elif row == 'Brazil' :   longitude.append('-51.925280')
        elif row == 'China' :   longitude.append('104.195397')
        elif row == 'France' :   longitude.append('2.213749')
        elif row == 'Indonesia' :   longitude.append('113.921327')
        elif row == 'India' :   longitude.append('78.962880')
        elif row == 'Russia' :   longitude.append('105.318756')
        elif row == 'Ukraine' :   longitude.append('31.165580')
        elif row == 'Canada' :   longitude.append('-106.346771')

        else: 'United States' : longitude.append('-95.712891')

In [39]:
df = pd.read_csv('FAO_csv/production_clean.csv')
df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Chad', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, mainland', 'China, Taiwan Province of', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'French Guyana', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Reunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [40]:
df['Area'].replace({"United States of America":"United States"},inplace=True)
df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Chad', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, mainland', 'China, Taiwan Province of', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'French Guyana', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Reunion', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Serbia and Montenegro',
       'Sierra Leone', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [35]:

df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Ukraine', 'United States'], dtype=object)

In [41]:
df = df.loc[df['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States'])]
df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine', 'United States'],
      dtype=object)

In [43]:
latitude = []

for row in df['Area']:
        if row == 'Argentina' :   latitude.append('-38.416097')
        elif row == 'Brazil' :   latitude.append('-14.235004')
        elif row == 'China' :   latitude.append('35.861660')
        elif row == 'France' :   latitude.append('46.227638')
        elif row == 'Indonesia' :   latitude.append('-0.789275')
        elif row == 'India' :   latitude.append('20.593684')
        elif row == 'Russian Federation' :   latitude.append('61.524010')
        elif row == 'Ukraine' :   latitude.append('48.379433')
        elif row == 'Canada' :   latitude.append('56.130366')
        elif row == 'United States' : latitude.append('37.090240')
        else: latitude.append('X')

In [44]:
longitude = []

for row in df['Area']:
        if row == 'Argentina' :   longitude.append('-63.616672')
        elif row == 'Brazil' :   longitude.append('-51.925280')
        elif row == 'China' :   longitude.append('104.195397')
        elif row == 'France' :   longitude.append('2.213749')
        elif row == 'Indonesia' :   longitude.append('113.921327')
        elif row == 'India' :   longitude.append('78.962880')
        elif row == 'Russian Federation' :   longitude.append('105.318756')
        elif row == 'Ukraine' :   longitude.append('31.165580')
        elif row == 'Canada' :   longitude.append('-106.346771')
        elif row == 'United States' : longitude.append('-95.712891')

        else: longitude.append('Y')

In [45]:
df['longitude'] = longitude
df['latitude'] = latitude
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Area,Item,Element,Year,Unit,Value,longitude,latitude
504,504,504,1444,Argentina,Barley,Production,2000,tonnes,722490.0,-63.616672,-38.416097
505,505,505,1445,Argentina,Barley,Production,2001,tonnes,530045.0,-63.616672,-38.416097
506,506,506,1446,Argentina,Barley,Production,2002,tonnes,549830.0,-63.616672,-38.416097
507,507,507,1447,Argentina,Barley,Production,2003,tonnes,1005460.0,-63.616672,-38.416097
508,508,508,1448,Argentina,Barley,Production,2004,tonnes,894610.0,-63.616672,-38.416097
...,...,...,...,...,...,...,...,...,...,...,...
18659,18659,18659,46806,United States,Wheat,Production,2016,tonnes,62831507.0,-95.712891,37.090240
18660,18660,18660,46807,United States,Wheat,Production,2017,tonnes,47379810.0,-95.712891,37.090240
18661,18661,18661,46808,United States,Wheat,Production,2018,tonnes,51305540.0,-95.712891,37.090240
18662,18662,18662,46809,United States,Wheat,Production,2019,tonnes,52580890.0,-95.712891,37.090240
18663,18663,18663,46810,United States,Wheat,Production,2020,tonnes,49690680.0,-95.712891,37.090240

In [46]:
df = df.drop(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0'], axis=1)
df

,Area,Item,Element,Year,Unit,Value,longitude,latitude
504,Argentina,Barley,Production,2000,tonnes,722490.0,-63.616672,-38.416097
505,Argentina,Barley,Production,2001,tonnes,530045.0,-63.616672,-38.416097
506,Argentina,Barley,Production,2002,tonnes,549830.0,-63.616672,-38.416097
507,Argentina,Barley,Production,2003,tonnes,1005460.0,-63.616672,-38.416097
508,Argentina,Barley,Production,2004,tonnes,894610.0,-63.616672,-38.416097
...,...,...,...,...,...,...,...,...
18659,United States,Wheat,Production,2016,tonnes,62831507.0,-95.712891,37.090240
18660,United States,Wheat,Production,2017,tonnes,47379810.0,-95.712891,37.090240
18661,United States,Wheat,Production,2018,tonnes,51305540.0,-95.712891,37.090240
18662,United States,Wheat,Production,2019,tonnes,52580890.0,-95.712891,37.090240
18663,United States,Wheat,Production,2020,tonnes,49690680.0,-95.712891,37.090240

In [47]:
df.to_csv('Prod_Coord.csv')

In [48]:
df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine', 'United States'],
      dtype=object)

In [49]:
df

,Area,Item,Element,Year,Unit,Value,longitude,latitude
504,Argentina,Barley,Production,2000,tonnes,722490.0,-63.616672,-38.416097
505,Argentina,Barley,Production,2001,tonnes,530045.0,-63.616672,-38.416097
506,Argentina,Barley,Production,2002,tonnes,549830.0,-63.616672,-38.416097
507,Argentina,Barley,Production,2003,tonnes,1005460.0,-63.616672,-38.416097
508,Argentina,Barley,Production,2004,tonnes,894610.0,-63.616672,-38.416097
...,...,...,...,...,...,...,...,...
18659,United States,Wheat,Production,2016,tonnes,62831507.0,-95.712891,37.090240
18660,United States,Wheat,Production,2017,tonnes,47379810.0,-95.712891,37.090240
18661,United States,Wheat,Production,2018,tonnes,51305540.0,-95.712891,37.090240
18662,United States,Wheat,Production,2019,tonnes,52580890.0,-95.712891,37.090240
18663,United States,Wheat,Production,2020,tonnes,49690680.0,-95.712891,37.090240

In [61]:
imp = pd.read_csv('FAO_csv/trade_crops/Import_qty.csv')
imp.area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "CÃ´te d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'TÃ¼rkiye',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [59]:
imp['area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)

In [63]:
imp_clean = imp.loc[imp['area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
imp_clean.area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [73]:
imp.to_csv('FAO_csv/trade_crops/Import_qty.csv')

In [71]:
prod_imp = pd.read_csv('FAO_csv/production_clean.csv')
prod_imp

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Area,Item,Element,Year,Unit,Value
0,0,0,39,Afghanistan,Barley,Production,2000,tonnes,74000.0
1,1,1,40,Afghanistan,Barley,Production,2001,tonnes,87000.0
2,2,2,41,Afghanistan,Barley,Production,2002,tonnes,345000.0
3,3,3,42,Afghanistan,Barley,Production,2003,tonnes,240000.0
4,4,4,43,Afghanistan,Barley,Production,2004,tonnes,290000.0
...,...,...,...,...,...,...,...,...,...
19588,19588,19588,49673,Zimbabwe,Wheat,Production,2016,tonnes,42008.0
19589,19589,19589,49674,Zimbabwe,Wheat,Production,2017,tonnes,38715.0
19590,19590,19590,49675,Zimbabwe,Wheat,Production,2018,tonnes,45000.0
19591,19591,19591,49676,Zimbabwe,Wheat,Production,2019,tonnes,80000.0
19592,19592,19592,49677,Zimbabwe,Wheat,Production,2020,tonnes,150000.0

In [67]:
prod_imp = prod_imp.loc[prod_imp['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
prod_imp.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [68]:
prod_imp = prod_imp.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)
prod_imp

                           Area    Item     Element  Year    Unit       Value
504                   Argentina  Barley  Production  2000  tonnes    722490.0
505                   Argentina  Barley  Production  2001  tonnes    530045.0
506                   Argentina  Barley  Production  2002  tonnes    549830.0
507                   Argentina  Barley  Production  2003  tonnes   1005460.0
508                   Argentina  Barley  Production  2004  tonnes    894610.0
...                         ...     ...         ...   ...     ...         ...
18659  United States of America   Wheat  Production  2016  tonnes  62831507.0
18660  United States of America   Wheat  Production  2017  tonnes  47379810.0
18661  United States of America   Wheat  Production  2018  tonnes  51305540.0
18662  United States of America   Wheat  Production  2019  tonnes  52580890.0
18663  United States of America   Wheat  Production  2020  tonnes  49690680.0

[1635 rows x 6 columns]

In [78]:
prod_imp.to_csv('FAO_csv/prod_imp.csv')

In [74]:
imp.to_csv('FAO_csv/trade_crops/Import_qty.csv')
imp

,Unnamed: 0,area,item,element,year,unit,value_imp_qty
0,0,Afghanistan,Barley,Import Quantity,2000,tonnes,5402.0
1,1,Afghanistan,Barley,Import Quantity,2001,tonnes,8600.0
2,2,Afghanistan,Barley,Import Quantity,2002,tonnes,3112.0
3,3,Afghanistan,Barley,Import Quantity,2003,tonnes,1311.0
4,4,Afghanistan,Barley,Import Quantity,2004,tonnes,1310.0
...,...,...,...,...,...,...,...
31594,31594,Zimbabwe,Wheat,Import Quantity,2016,tonnes,268891.0
31595,31595,Zimbabwe,Wheat,Import Quantity,2017,tonnes,205760.0
31596,31596,Zimbabwe,Wheat,Import Quantity,2018,tonnes,276776.0
31597,31597,Zimbabwe,Wheat,Import Quantity,2019,tonnes,124632.0
31598,31598,Zimbabwe,Wheat,Import Quantity,2020,tonnes,244249.0

In [75]:
imp = imp.loc[imp['area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
imp.area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [76]:
imp = imp.drop(['Unnamed: 0'], axis=1)
imp

,area,item,element,year,unit,value_imp_qty
710,Argentina,Barley,Import Quantity,2000,tonnes,16563.52
711,Argentina,Barley,Import Quantity,2001,tonnes,115.00
712,Argentina,Barley,Import Quantity,2002,tonnes,85.00
713,Argentina,Barley,Import Quantity,2003,tonnes,59.00
714,Argentina,Barley,Import Quantity,2004,tonnes,78.00
...,...,...,...,...,...,...
30300,United States of America,Wheat,Import Quantity,2016,tonnes,2210889.00
30301,United States of America,Wheat,Import Quantity,2017,tonnes,2812826.00
30302,United States of America,Wheat,Import Quantity,2018,tonnes,3136161.00
30303,United States of America,Wheat,Import Quantity,2019,tonnes,1836134.00
30304,United States of America,Wheat,Import Quantity,2020,tonnes,1909895.00

In [77]:
imp.to_csv('FAO_csv/trade_crops/Import_qty.csv')

In [79]:
df = pd.read_csv('FAO_csv/prod_imp.csv')
df

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,Area,Item,Element,Year,Unit,Value
0,0,0,0,39,Afghanistan,Barley,Production,2000,tonnes,74000.0
1,1,1,1,40,Afghanistan,Barley,Production,2001,tonnes,87000.0
2,2,2,2,41,Afghanistan,Barley,Production,2002,tonnes,345000.0
3,3,3,3,42,Afghanistan,Barley,Production,2003,tonnes,240000.0
4,4,4,4,43,Afghanistan,Barley,Production,2004,tonnes,290000.0
...,...,...,...,...,...,...,...,...,...,...
19588,19588,19588,19588,49673,Zimbabwe,Wheat,Production,2016,tonnes,42008.0
19589,19589,19589,19589,49674,Zimbabwe,Wheat,Production,2017,tonnes,38715.0
19590,19590,19590,19590,49675,Zimbabwe,Wheat,Production,2018,tonnes,45000.0
19591,19591,19591,19591,49676,Zimbabwe,Wheat,Production,2019,tonnes,80000.0
19592,19592,19592,19592,49677,Zimbabwe,Wheat,Production,2020,tonnes,150000.0

In [81]:
df = df.loc[df['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
df.Area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [82]:
df.to_csv('FAO_csv/prod_imp.csv')

In [83]:
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0', 'Unnamed: 0.3', 'Unnamed: 0.2'], axis=1)
df

                           Area    Item     Element  Year    Unit       Value
504                   Argentina  Barley  Production  2000  tonnes    722490.0
505                   Argentina  Barley  Production  2001  tonnes    530045.0
506                   Argentina  Barley  Production  2002  tonnes    549830.0
507                   Argentina  Barley  Production  2003  tonnes   1005460.0
508                   Argentina  Barley  Production  2004  tonnes    894610.0
...                         ...     ...         ...   ...     ...         ...
18659  United States of America   Wheat  Production  2016  tonnes  62831507.0
18660  United States of America   Wheat  Production  2017  tonnes  47379810.0
18661  United States of America   Wheat  Production  2018  tonnes  51305540.0
18662  United States of America   Wheat  Production  2019  tonnes  52580890.0
18663  United States of America   Wheat  Production  2020  tonnes  49690680.0

[1635 rows x 6 columns]

In [84]:
df.to_csv('FAO_csv/prod_imp.csv')
df

                           Area    Item     Element  Year    Unit       Value
504                   Argentina  Barley  Production  2000  tonnes    722490.0
505                   Argentina  Barley  Production  2001  tonnes    530045.0
506                   Argentina  Barley  Production  2002  tonnes    549830.0
507                   Argentina  Barley  Production  2003  tonnes   1005460.0
508                   Argentina  Barley  Production  2004  tonnes    894610.0
...                         ...     ...         ...   ...     ...         ...
18659  United States of America   Wheat  Production  2016  tonnes  62831507.0
18660  United States of America   Wheat  Production  2017  tonnes  47379810.0
18661  United States of America   Wheat  Production  2018  tonnes  51305540.0
18662  United States of America   Wheat  Production  2019  tonnes  52580890.0
18663  United States of America   Wheat  Production  2020  tonnes  49690680.0

[1635 rows x 6 columns]

In [86]:
exp_q = pd.read_csv('FAO_csv/trade_crops/Export_qty.csv')
exp_v = pd.read_csv('FAO_csv/trade_crops/Export_Value.csv')

In [90]:
exp_q = exp_q.loc[exp_q['area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
exp_q.area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [91]:
exp_v = exp_q.loc[exp_q['area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
exp_v.area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [92]:
exp_q

,Unnamed: 0,area,item_code,item,element,year,unit,value_exp_qty
651,651,Argentina,44,Barley,Export Quantity,1961,tonnes,128684.0
652,652,Argentina,44,Barley,Export Quantity,1962,tonnes,178208.0
653,653,Argentina,44,Barley,Export Quantity,1963,tonnes,44942.0
654,654,Argentina,44,Barley,Export Quantity,1964,tonnes,535846.0
655,655,Argentina,44,Barley,Export Quantity,1965,tonnes,299816.0
...,...,...,...,...,...,...,...,...
48555,48555,United States of America,15,Wheat,Export Quantity,2016,tonnes,24041586.0
48556,48556,United States of America,15,Wheat,Export Quantity,2017,tonnes,27299214.0
48557,48557,United States of America,15,Wheat,Export Quantity,2018,tonnes,22499006.0
48558,48558,United States of America,15,Wheat,Export Quantity,2019,tonnes,27068607.0
48559,48559,United States of America,15,Wheat,Export Quantity,2020,tonnes,26131626.0

In [94]:
exp_q = exp_q.drop(['Unnamed: 0'], axis=1)
exp_q

,area,item_code,item,element,year,unit,value_exp_qty
651,Argentina,44,Barley,Export Quantity,1961,tonnes,128684.0
652,Argentina,44,Barley,Export Quantity,1962,tonnes,178208.0
653,Argentina,44,Barley,Export Quantity,1963,tonnes,44942.0
654,Argentina,44,Barley,Export Quantity,1964,tonnes,535846.0
655,Argentina,44,Barley,Export Quantity,1965,tonnes,299816.0
...,...,...,...,...,...,...,...
48555,United States of America,15,Wheat,Export Quantity,2016,tonnes,24041586.0
48556,United States of America,15,Wheat,Export Quantity,2017,tonnes,27299214.0
48557,United States of America,15,Wheat,Export Quantity,2018,tonnes,22499006.0
48558,United States of America,15,Wheat,Export Quantity,2019,tonnes,27068607.0
48559,United States of America,15,Wheat,Export Quantity,2020,tonnes,26131626.0

In [95]:
exp_v = exp_v.drop(['Unnamed: 0'], axis=1)
exp_v

,area,item_code,item,element,year,unit,value_exp_qty
651,Argentina,44,Barley,Export Quantity,1961,tonnes,128684.0
652,Argentina,44,Barley,Export Quantity,1962,tonnes,178208.0
653,Argentina,44,Barley,Export Quantity,1963,tonnes,44942.0
654,Argentina,44,Barley,Export Quantity,1964,tonnes,535846.0
655,Argentina,44,Barley,Export Quantity,1965,tonnes,299816.0
...,...,...,...,...,...,...,...
48555,United States of America,15,Wheat,Export Quantity,2016,tonnes,24041586.0
48556,United States of America,15,Wheat,Export Quantity,2017,tonnes,27299214.0
48557,United States of America,15,Wheat,Export Quantity,2018,tonnes,22499006.0
48558,United States of America,15,Wheat,Export Quantity,2019,tonnes,27068607.0
48559,United States of America,15,Wheat,Export Quantity,2020,tonnes,26131626.0

In [96]:
exp_q.to_csv('FAO_csv/trade_crops/Export_qty.csv')
exp_v.to_csv('FAO_csv/trade_crops/Export_Value.csv')

In [98]:
imp_q = pd.read_csv('FAO_csv/trade_crops/Import_qty.csv')
imp_v = pd.read_csv('FAO_csv/trade_crops/Import_Value.csv')
imp_v

,Unnamed: 0,area,item_code,item,element,year,unit,value
0,0,Afghanistan,44,Barley,Import Value,1995,1000 US$,420.0
1,1,Afghanistan,44,Barley,Import Value,1996,1000 US$,0.0
2,2,Afghanistan,44,Barley,Import Value,1997,1000 US$,0.0
3,3,Afghanistan,44,Barley,Import Value,1998,1000 US$,0.0
4,4,Afghanistan,44,Barley,Import Value,1999,1000 US$,0.0
...,...,...,...,...,...,...,...,...
75673,75673,Zimbabwe,15,Wheat,Import Value,2016,1000 US$,97892.0
75674,75674,Zimbabwe,15,Wheat,Import Value,2017,1000 US$,76466.0
75675,75675,Zimbabwe,15,Wheat,Import Value,2018,1000 US$,108068.0
75676,75676,Zimbabwe,15,Wheat,Import Value,2019,1000 US$,51617.0
75677,75677,Zimbabwe,15,Wheat,Import Value,2020,1000 US$,102719.0

In [101]:
imp_v = imp_v.loc[imp_v['area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
imp_v = imp_v.drop(['Unnamed: 0'], axis=1)
imp_v

KeyError: "['Unnamed: 0'] not found in axis"

In [102]:
imp_v

,area,item_code,item,element,year,unit,value
1611,Argentina,44,Barley,Import Value,1961,1000 US$,0.0
1612,Argentina,44,Barley,Import Value,1962,1000 US$,0.0
1613,Argentina,44,Barley,Import Value,1963,1000 US$,0.0
1614,Argentina,44,Barley,Import Value,1964,1000 US$,0.0
1615,Argentina,44,Barley,Import Value,1965,1000 US$,0.0
...,...,...,...,...,...,...,...
72124,United States of America,15,Wheat,Import Value,2016,1000 US$,491073.0
72125,United States of America,15,Wheat,Import Value,2017,1000 US$,705555.0
72126,United States of America,15,Wheat,Import Value,2018,1000 US$,799371.0
72127,United States of America,15,Wheat,Import Value,2019,1000 US$,432372.0
72128,United States of America,15,Wheat,Import Value,2020,1000 US$,467784.0

In [105]:
imp_q = imp_q.drop(['Unnamed: 0'], axis=1)
imp_q

,area,item,element,year,unit,value_imp_qty
0,Argentina,Barley,Import Quantity,2000,tonnes,16563.52
1,Argentina,Barley,Import Quantity,2001,tonnes,115.00
2,Argentina,Barley,Import Quantity,2002,tonnes,85.00
3,Argentina,Barley,Import Quantity,2003,tonnes,59.00
4,Argentina,Barley,Import Quantity,2004,tonnes,78.00
...,...,...,...,...,...,...
1908,United States of America,Wheat,Import Quantity,2016,tonnes,2210889.00
1909,United States of America,Wheat,Import Quantity,2017,tonnes,2812826.00
1910,United States of America,Wheat,Import Quantity,2018,tonnes,3136161.00
1911,United States of America,Wheat,Import Quantity,2019,tonnes,1836134.00
1912,United States of America,Wheat,Import Quantity,2020,tonnes,1909895.00

In [106]:
imp_q.to_csv('FAO_csv/trade_crops/Import_qty.csv')
imp_v.to_csv('FAO_csv/trade_crops/Import_Value.csv')

In [114]:
prices = pd.read_csv('FAO_csv/prices.csv')
prices.Unit.unique()

array(['LCU', 'SLC', nan, 'USD'], dtype=object)

In [111]:
prices = prices.loc[prices['Element'].isin(['Producer Price (USD/tonne)'])]
prices

,Unnamed: 0,Area,Item,Element,Year,Months,Unit,Value
461,461,Albania,Barley,Producer Price (USD/tonne),1996,Annual value,USD,287.1
462,462,Albania,Barley,Producer Price (USD/tonne),1997,Annual value,USD,248.4
463,463,Albania,Barley,Producer Price (USD/tonne),1998,Annual value,USD,325.3
464,464,Albania,Barley,Producer Price (USD/tonne),1999,Annual value,USD,305.0
465,465,Albania,Barley,Producer Price (USD/tonne),2000,Annual value,USD,313.1
...,...,...,...,...,...,...,...,...
103529,103529,Zimbabwe,Wheat,Producer Price (USD/tonne),2014,Annual value,USD,466.0
103530,103530,Zimbabwe,Wheat,Producer Price (USD/tonne),2015,Annual value,USD,500.0
103531,103531,Zimbabwe,Wheat,Producer Price (USD/tonne),2016,Annual value,USD,500.0
103532,103532,Zimbabwe,Wheat,Producer Price (USD/tonne),2017,Annual value,USD,500.0
103533,103533,Zimbabwe,Wheat,Producer Price (USD/tonne),2018,Annual value,USD,621.5

In [113]:
prices = prices.loc[prices['Months'].isin(['Annual value'])]
prices

,Unnamed: 0,Area,Item,Element,Year,Months,Unit,Value
0,0,Afghanistan,Barley,Producer Price (LCU/tonne),1993,Annual value,LCU,6300.00
1,1,Afghanistan,Barley,Producer Price (LCU/tonne),1994,Annual value,LCU,6200.00
2,2,Afghanistan,Barley,Producer Price (LCU/tonne),1995,Annual value,LCU,6500.00
3,3,Afghanistan,Barley,Producer Price (LCU/tonne),1996,Annual value,LCU,18900.00
4,4,Afghanistan,Barley,Producer Price (LCU/tonne),1997,Annual value,LCU,27000.00
...,...,...,...,...,...,...,...,...
103558,103558,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2017,Annual value,NaN,102.32
103559,103559,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2018,Annual value,NaN,127.18
103560,103560,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2019,Annual value,NaN,375.77
103561,103561,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2020,Annual value,NaN,624.35
103562,103562,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2021,Annual value,NaN,872.93

In [115]:
prices = prices.loc[prices['Unit'].isin(['USD'])]
prices

,Unnamed: 0,Area,Item,Element,Year,Months,Unit,Value
461,461,Albania,Barley,Producer Price (USD/tonne),1996,Annual value,USD,287.1
462,462,Albania,Barley,Producer Price (USD/tonne),1997,Annual value,USD,248.4
463,463,Albania,Barley,Producer Price (USD/tonne),1998,Annual value,USD,325.3
464,464,Albania,Barley,Producer Price (USD/tonne),1999,Annual value,USD,305.0
465,465,Albania,Barley,Producer Price (USD/tonne),2000,Annual value,USD,313.1
...,...,...,...,...,...,...,...,...
103529,103529,Zimbabwe,Wheat,Producer Price (USD/tonne),2014,Annual value,USD,466.0
103530,103530,Zimbabwe,Wheat,Producer Price (USD/tonne),2015,Annual value,USD,500.0
103531,103531,Zimbabwe,Wheat,Producer Price (USD/tonne),2016,Annual value,USD,500.0
103532,103532,Zimbabwe,Wheat,Producer Price (USD/tonne),2017,Annual value,USD,500.0
103533,103533,Zimbabwe,Wheat,Producer Price (USD/tonne),2018,Annual value,USD,621.5

In [116]:
prices = prices.loc[prices['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'Indonesia', 'India', 'Russian Federation', 'Ukraine', 'United States of America'])]
prices

,Unnamed: 0,Area,Item,Element,Year,Months,Unit,Value
2176,2176,Argentina,Barley,Producer Price (USD/tonne),1991,Annual value,USD,77.9
2177,2177,Argentina,Barley,Producer Price (USD/tonne),1992,Annual value,USD,72.7
2178,2178,Argentina,Barley,Producer Price (USD/tonne),1993,Annual value,USD,72.1
2179,2179,Argentina,Barley,Producer Price (USD/tonne),1994,Annual value,USD,75.1
2180,2180,Argentina,Barley,Producer Price (USD/tonne),1995,Annual value,USD,120.0
...,...,...,...,...,...,...,...,...
100197,100197,United States of America,Wheat,Producer Price (USD/tonne),2016,Annual value,USD,143.0
100198,100198,United States of America,Wheat,Producer Price (USD/tonne),2017,Annual value,USD,173.0
100199,100199,United States of America,Wheat,Producer Price (USD/tonne),2018,Annual value,USD,189.0
100200,100200,United States of America,Wheat,Producer Price (USD/tonne),2019,Annual value,USD,167.0
100201,100201,United States of America,Wheat,Producer Price (USD/tonne),2020,Annual value,USD,184.0

In [117]:
prices = prices.drop(['Unnamed: 0'], axis=1)
prices

,Area,Item,Element,Year,Months,Unit,Value
2176,Argentina,Barley,Producer Price (USD/tonne),1991,Annual value,USD,77.9
2177,Argentina,Barley,Producer Price (USD/tonne),1992,Annual value,USD,72.7
2178,Argentina,Barley,Producer Price (USD/tonne),1993,Annual value,USD,72.1
2179,Argentina,Barley,Producer Price (USD/tonne),1994,Annual value,USD,75.1
2180,Argentina,Barley,Producer Price (USD/tonne),1995,Annual value,USD,120.0
...,...,...,...,...,...,...,...
100197,United States of America,Wheat,Producer Price (USD/tonne),2016,Annual value,USD,143.0
100198,United States of America,Wheat,Producer Price (USD/tonne),2017,Annual value,USD,173.0
100199,United States of America,Wheat,Producer Price (USD/tonne),2018,Annual value,USD,189.0
100200,United States of America,Wheat,Producer Price (USD/tonne),2019,Annual value,USD,167.0
100201,United States of America,Wheat,Producer Price (USD/tonne),2020,Annual value,USD,184.0

In [118]:
prices.to_csv('FAO_csv/prices.csv')

In [120]:
prod = pd.read_csv('FAO_csv/production.csv')
prod.Unit.unique()

array(['tonnes'], dtype=object)

In [24]:
exp_q = pd.read_csv('FAO_csv/trade_crops/Export_qty.csv')
exp_q.area.unique()

array(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India',
       'Indonesia', 'Russian Federation', 'Ukraine',
       'United States of America'], dtype=object)

In [12]:
exp_v = pd.read_csv('FAO_csv/trade_crops/Trade_CropsLivestock_E_All_Data_(Normalized).csv', encoding= 'unicode_escape')
exp_v.Element.unique()

array(['Import Quantity', 'Import Value', 'Export Quantity',
       'Export Value'], dtype=object)

In [14]:
exp_v = exp_v.loc[exp_v['Item'].isin(['Barley', 'Maize (corn)', 'Millet', 'Rice', 'Wheat', 'Oats', 'Rye', 'Sorghum', 'Soya beans', 'Quinoa'])]
exp_v

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1158,2,'004,Afghanistan,44,'0115,Barley,5610,Import Quantity,1961,1961,tonnes,NaN,O
1159,2,'004,Afghanistan,44,'0115,Barley,5610,Import Quantity,1962,1962,tonnes,NaN,O
1160,2,'004,Afghanistan,44,'0115,Barley,5610,Import Quantity,1963,1963,tonnes,NaN,O
1161,2,'004,Afghanistan,44,'0115,Barley,5610,Import Quantity,1964,1964,tonnes,NaN,O
1162,2,'004,Afghanistan,44,'0115,Barley,5610,Import Quantity,1965,1965,tonnes,NaN,O
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17438220,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2016,2016,1000 US$,7823.0,E
17438221,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2017,2017,1000 US$,4293.0,E
17438222,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2018,2018,1000 US$,173511.0,E
17438223,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2019,2019,1000 US$,46142.0,E
17438224,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2020,2020,1000 US$,7930.0,E

In [15]:
exp_v = exp_v.loc[exp_v['Element'].isin(['Export Value'])]
exp_v

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1284,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2015,2015,1000 US$,NaN,A
1285,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2016,2016,1000 US$,0.0,T
1286,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2017,2017,1000 US$,1.0,A
1287,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2018,2018,1000 US$,443.0,T
1288,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2019,2019,1000 US$,972.0,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17438220,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2016,2016,1000 US$,7823.0,E
17438221,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2017,2017,1000 US$,4293.0,E
17438222,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2018,2018,1000 US$,173511.0,E
17438223,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2019,2019,1000 US$,46142.0,E
17438224,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2020,2020,1000 US$,7930.0,E

In [16]:
nulls_df = pd.DataFrame(round(exp_v.isna().sum()/len(exp_v),4)*100)
nulls_df

                    0
Area Code         0.0
Area Code (M49)   0.0
Area              0.0
Item Code         0.0
Item Code (CPC)   0.0
Item              0.0
Element Code      0.0
Element           0.0
Year Code         0.0
Year              0.0
Unit              0.0
Value            15.8
Flag              0.0

In [21]:
exp_v = exp_v.dropna()

In [22]:
nulls_df = pd.DataFrame(round(exp_v.isna().sum()/len(exp_v),4)*100)
nulls_df

                   0
Area Code        0.0
Area Code (M49)  0.0
Area             0.0
Item Code        0.0
Item Code (CPC)  0.0
Item             0.0
Element Code     0.0
Element          0.0
Year Code        0.0
Year             0.0
Unit             0.0
Value            0.0
Flag             0.0

In [23]:
exp_v

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
1285,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2016,2016,1000 US$,0.0,T
1286,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2017,2017,1000 US$,1.0,A
1287,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2018,2018,1000 US$,443.0,T
1288,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2019,2019,1000 US$,972.0,T
1289,2,'004,Afghanistan,44,'0115,Barley,5922,Export Value,2020,2020,1000 US$,398.0,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17438220,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2016,2016,1000 US$,7823.0,E
17438221,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2017,2017,1000 US$,4293.0,E
17438222,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2018,2018,1000 US$,173511.0,E
17438223,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2019,2019,1000 US$,46142.0,E
17438224,58170,'902.03,Net Food Importing Developing Countries (exclu...,15,'0111,Wheat,5922,Export Value,2020,2020,1000 US$,7930.0,E

In [26]:
exp_v = exp_v.loc[exp_v['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India','Indonesia', 'Russian Federation', 'Ukraine','United States of America'])]
exp_v

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
278445,9,'032,Argentina,44,'0115,Barley,5922,Export Value,1961,1961,1000 US$,6465.0,A
278446,9,'032,Argentina,44,'0115,Barley,5922,Export Value,1962,1962,1000 US$,9479.0,A
278447,9,'032,Argentina,44,'0115,Barley,5922,Export Value,1963,1963,1000 US$,2694.0,A
278448,9,'032,Argentina,44,'0115,Barley,5922,Export Value,1964,1964,1000 US$,26889.0,A
278449,9,'032,Argentina,44,'0115,Barley,5922,Export Value,1965,1965,1000 US$,14999.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12083598,231,'840,United States of America,15,'0111,Wheat,5922,Export Value,2016,2016,1000 US$,5387270.0,A
12083599,231,'840,United States of America,15,'0111,Wheat,5922,Export Value,2017,2017,1000 US$,6093290.0,A
12083600,231,'840,United States of America,15,'0111,Wheat,5922,Export Value,2018,2018,1000 US$,5458267.0,A
12083601,231,'840,United States of America,15,'0111,Wheat,5922,Export Value,2019,2019,1000 US$,6265916.0,A
12083602,231,'840,United States of America,15,'0111,Wheat,5922,Export Value,2020,2020,1000 US$,6318111.0,A

In [27]:
exp_v.Unit.unique()

array(['1000 US$'], dtype=object)

In [28]:
exp_v.drop(columns=['Area Code', 'Area Code (M49)', 'Item Code', 'Item Code (CPC)', 'Element Code', 'Year Code', 'Flag'], inplace = True)
exp_v

/var/folders/df/t_fbtp4x1ql7m1lfcqwsp3240000gn/T/ipykernel_26201/3944905780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp_v.drop(columns=['Area Code', 'Area Code (M49)', 'Item Code', 'Item Code (CPC)', 'Element Code', 'Year Code', 'Flag'], inplace = True)

,Area,Item,Element,Year,Unit,Value
278445,Argentina,Barley,Export Value,1961,1000 US$,6465.0
278446,Argentina,Barley,Export Value,1962,1000 US$,9479.0
278447,Argentina,Barley,Export Value,1963,1000 US$,2694.0
278448,Argentina,Barley,Export Value,1964,1000 US$,26889.0
278449,Argentina,Barley,Export Value,1965,1000 US$,14999.0
...,...,...,...,...,...,...
12083598,United States of America,Wheat,Export Value,2016,1000 US$,5387270.0
12083599,United States of America,Wheat,Export Value,2017,1000 US$,6093290.0
12083600,United States of America,Wheat,Export Value,2018,1000 US$,5458267.0
12083601,United States of America,Wheat,Export Value,2019,1000 US$,6265916.0
12083602,United States of America,Wheat,Export Value,2020,1000 US$,6318111.0

In [29]:
exp_v.to_csv('FAO_csv/trade_crops/Export_Val.csv')

In [2]:
pop = pd.read_csv("FAO_csv/Population.csv")
pop

,Unnamed: 0,Area,Element,Year,Unit,Value
0,0,Afghanistan,Total Population - Both sexes,1950,1000 persons,7752.118
1,1,Afghanistan,Total Population - Both sexes,1951,1000 persons,7840.156
2,2,Afghanistan,Total Population - Both sexes,1952,1000 persons,7935.997
3,3,Afghanistan,Total Population - Both sexes,1953,1000 persons,8039.694
4,4,Afghanistan,Total Population - Both sexes,1954,1000 persons,8151.317
...,...,...,...,...,...,...
135931,135931,Zimbabwe,Urban population,2046,1000 persons,12159.226
135932,135932,Zimbabwe,Urban population,2047,1000 persons,12520.244
135933,135933,Zimbabwe,Urban population,2048,1000 persons,12885.487
135934,135934,Zimbabwe,Urban population,2049,1000 persons,13254.601
135935,135935,Zimbabwe,Urban population,2050,1000 persons,13627.246

In [3]:
pop.Element.unique()

array(['Total Population - Both sexes', 'Total Population - Male',
       'Total Population - Female', 'Rural population',
       'Urban population'], dtype=object)

In [4]:
pop = pop.loc[pop['Element'].isin(['Total Population - Both sexes'])]
pop

,Unnamed: 0,Area,Element,Year,Unit,Value
0,0,Afghanistan,Total Population - Both sexes,1950,1000 persons,7752.118
1,1,Afghanistan,Total Population - Both sexes,1951,1000 persons,7840.156
2,2,Afghanistan,Total Population - Both sexes,1952,1000 persons,7935.997
3,3,Afghanistan,Total Population - Both sexes,1953,1000 persons,8039.694
4,4,Afghanistan,Total Population - Both sexes,1954,1000 persons,8151.317
...,...,...,...,...,...,...
135427,135427,Zimbabwe,Total Population - Both sexes,2096,1000 persons,30940.779
135428,135428,Zimbabwe,Total Population - Both sexes,2097,1000 persons,30952.209
135429,135429,Zimbabwe,Total Population - Both sexes,2098,1000 persons,30959.811
135430,135430,Zimbabwe,Total Population - Both sexes,2099,1000 persons,30964.041
135431,135431,Zimbabwe,Total Population - Both sexes,2100,1000 persons,30965.415

In [5]:
pop = pop.loc[pop['Area'].isin(['Argentina', 'Brazil', 'Canada', 'China', 'France', 'India','Indonesia', 'Russian Federation', 'Ukraine','United States of America'])]
pop

,Unnamed: 0,Area,Element,Year,Unit,Value
4334,4334,Argentina,Total Population - Both sexes,1950,1000 persons,17037.912
4335,4335,Argentina,Total Population - Both sexes,1951,1000 persons,17390.378
4336,4336,Argentina,Total Population - Both sexes,1952,1000 persons,17742.980
4337,4337,Argentina,Total Population - Both sexes,1953,1000 persons,18094.298
4338,4338,Argentina,Total Population - Both sexes,1954,1000 persons,18443.309
...,...,...,...,...,...,...
128314,128314,United States of America,Total Population - Both sexes,2096,1000 persons,430021.582
128315,128315,United States of America,Total Population - Both sexes,2097,1000 persons,430967.919
128316,128316,United States of America,Total Population - Both sexes,2098,1000 persons,431921.386
128317,128317,United States of America,Total Population - Both sexes,2099,1000 persons,432882.959
128318,128318,United States of America,Total Population - Both sexes,2100,1000 persons,433853.891

In [7]:
pop = pop.drop(['Unnamed: 0'], axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [9]:
pop.Year.unique()

array([1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960,
       1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026,
       2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037,
       2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048,
       2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059,
       2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070,
       2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081,
       2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092,
       2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100])

In [10]:
pop.to_csv('FAO_csv/Population.csv')