In [1]:
import pandas as pd
coor = pd.read_csv('world_country_and_usa_states_latitude_and_longitude_values.csv')
coor

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California
...,...,...,...,...,...,...,...,...
240,YE,15.552727,48.516388,Yemen,NaN,NaN,NaN,NaN
241,YT,-12.827500,45.166244,Mayotte,NaN,NaN,NaN,NaN
242,ZA,-30.559482,22.937506,South Africa,NaN,NaN,NaN,NaN
243,ZM,-13.133897,27.849332,Zambia,NaN,NaN,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,NaN,NaN,NaN,NaN

In [2]:
coor_clean = coor.drop(['usa_state_code', 'usa_state_latitude', 'usa_state_longitude', 'usa_state', 'country_code'], axis = 1, inplace = True) 
coor_clean

In [3]:
coor

      latitude  longitude               country
0    42.546245   1.601554               Andorra
1    23.424076  53.847818  United Arab Emirates
2    33.939110  67.709953           Afghanistan
3    17.060816 -61.796428   Antigua and Barbuda
4    18.220554 -63.068615              Anguilla
..         ...        ...                   ...
240  15.552727  48.516388                 Yemen
241 -12.827500  45.166244               Mayotte
242 -30.559482  22.937506          South Africa
243 -13.133897  27.849332                Zambia
244 -19.015438  29.154857              Zimbabwe

[245 rows x 3 columns]

In [6]:
coor.to_csv('Coordenadas.csv')

In [7]:
prueba = pd.read_csv('Coordenadas.csv')
prueba

     Unnamed: 0   latitude  longitude               country
0             0  42.546245   1.601554               Andorra
1             1  23.424076  53.847818  United Arab Emirates
2             2  33.939110  67.709953           Afghanistan
3             3  17.060816 -61.796428   Antigua and Barbuda
4             4  18.220554 -63.068615              Anguilla
..          ...        ...        ...                   ...
240         240  15.552727  48.516388                 Yemen
241         241 -12.827500  45.166244               Mayotte
242         242 -30.559482  22.937506          South Africa
243         243 -13.133897  27.849332                Zambia
244         244 -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [8]:
prueba.country.unique()

array(['Andorra', 'United Arab Emirates', 'Afghanistan',
       'Antigua and Barbuda', 'Anguilla', 'Albania', 'Armenia',
       'Netherlands Antilles', 'Angola', 'Antarctica', 'Argentina',
       'American Samoa', 'Austria', 'Australia', 'Aruba', 'Azerbaijan',
       'Bosnia and Herzegovina', 'Barbados', 'Bangladesh', 'Belgium',
       'Burkina Faso', 'Bulgaria', 'Bahrain', 'Burundi', 'Benin',
       'Bermuda', 'Brunei', 'Bolivia', 'Brazil', 'Bahamas', 'Bhutan',
       'Bouvet Island', 'Botswana', 'Belarus', 'Belize', 'Canada',
       'Cocos [Keeling] Islands', 'Congo [DRC]',
       'Central African Republic', 'Congo [Republic]', 'Switzerland',
       "Côte d'Ivoire", 'Cook Islands', 'Chile', 'Cameroon', 'China',
       'Colombia', 'Costa Rica', 'Cuba', 'Cape Verde', 'Christmas Island',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Denmark',
       'Dominica', 'Dominican Republic', 'Algeria', 'Ecuador', 'Estonia',
       'Egypt', 'Western Sahara', 'Eritrea', 'Spain', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands [Islas Malvinas]',
       'Micronesia', 'Faroe Islands', 'France', 'Gabon', 'United Kingdom',
       'Grenada', 'Georgia', 'French Guiana', 'Guernsey', 'Ghana',
       'Gibraltar', 'Greenland', 'Gambia', 'Guinea', 'Guadeloupe',
       'Equatorial Guinea', 'Greece',
       'South Georgia and the South Sandwich Islands', 'Guatemala',
       'Guam', 'Guinea-Bissau', 'Guyana', 'Gaza Strip', 'Hong Kong',
       'Heard Island and McDonald Islands', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Ireland', 'Israel',
       'Isle of Man', 'India', 'British Indian Ocean Territory', 'Iraq',
       'Iran', 'Iceland', 'Italy', 'Jersey', 'Jamaica', 'Jordan', 'Japan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Comoros',
       'Saint Kitts and Nevis', 'North Korea', 'South Korea', 'Kuwait',
       'Cayman Islands', 'Kazakhstan', 'Laos', 'Lebanon', 'Saint Lucia',
       'Liechtenstein', 'Sri Lanka', 'Liberia', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Libya', 'Morocco', 'Monaco', 'Moldova',
       'Montenegro', 'Madagascar', 'Marshall Islands',
       'Macedonia [FYROM]', 'Mali', 'Myanmar [Burma]', 'Mongolia',
       'Macau', 'Northern Mariana Islands', 'Martinique', 'Mauritania',
       'Montserrat', 'Malta', 'Mauritius', 'Maldives', 'Malawi', 'Mexico',
       'Malaysia', 'Mozambique', 'Namibia', 'New Caledonia', 'Niger',
       'Norfolk Island', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway',
       'Nepal', 'Nauru', 'Niue', 'New Zealand', 'Oman', 'Panama', 'Peru',
       'French Polynesia', 'Papua New Guinea', 'Philippines', 'Pakistan',
       'Poland', 'Saint Pierre and Miquelon', 'Pitcairn Islands',
       'Puerto Rico', 'Palestinian Territories', 'Portugal', 'Palau',
       'Paraguay', 'Qatar', 'Réunion', 'Romania', 'Serbia', 'Russia',
       'Rwanda', 'Saudi Arabia', 'Solomon Islands', 'Seychelles', 'Sudan',
       'Sweden', 'Singapore', 'Saint Helena', 'Slovenia',
       'Svalbard and Jan Mayen', 'Slovakia', 'Sierra Leone', 'San Marino',
       'Senegal', 'Somalia', 'Suriname', 'São Tomé and Príncipe',
       'El Salvador', 'Syria', 'Swaziland', 'Turks and Caicos Islands',
       'Chad', 'French Southern Territories', 'Togo', 'Thailand',
       'Tajikistan', 'Tokelau', 'Timor-Leste', 'Turkmenistan', 'Tunisia',
       'Tonga', 'Turkey', 'Trinidad and Tobago', 'Tuvalu', 'Taiwan',
       'Tanzania', 'Ukraine', 'Uganda', 'U.S. Minor Outlying Islands',
       'United States', 'Uruguay', 'Uzbekistan', 'Vatican City',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'U.S. Virgin Islands', 'Vietnam',
       'Vanuatu', 'Wallis and Futuna', 'Samoa', 'Kosovo', 'Yemen',
       'Mayotte', 'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
prueba = prueba.loc[prueba['country'].isin(['China', 'United States', 'India', 'Brazil', 'Argentina', 'Russia', 'Indonesia', 'France', 'Canada', 'Ukraine'])]
prueba

     Unnamed: 0   latitude   longitude        country
10           10 -38.416097  -63.616672      Argentina
28           28 -14.235004  -51.925280         Brazil
35           35  56.130366 -106.346771         Canada
45           45  35.861660  104.195397          China
71           71  46.227638    2.213749         France
98           98  -0.789275  113.921327      Indonesia
102         102  20.593684   78.962880          India
187         187  61.524010  105.318756         Russia
224         224  48.379433   31.165580        Ukraine
227         227  37.090240  -95.712891  United States

In [11]:
prueba.to_csv('Coordenadas.csv')

In [13]:
coor = pd.read_csv('Coordenadas.csv')
coor

   Unnamed: 0.1  Unnamed: 0   latitude   longitude        country
0            10          10 -38.416097  -63.616672      Argentina
1            28          28 -14.235004  -51.925280         Brazil
2            35          35  56.130366 -106.346771         Canada
3            45          45  35.861660  104.195397          China
4            71          71  46.227638    2.213749         France
5            98          98  -0.789275  113.921327      Indonesia
6           102         102  20.593684   78.962880          India
7           187         187  61.524010  105.318756         Russia
8           224         224  48.379433   31.165580        Ukraine
9           227         227  37.090240  -95.712891  United States