In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Enviroment.csv')

In [8]:
df.Months.unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December',
       'Meteorological year'], dtype=object)

In [9]:
 
df = df[df["Months"].str.contains("Dec\x96Jan\x96Feb|Mar\x96Apr\x96May|Jun\x96Jul\x96Aug|Sep\x96Oct\x96Nov")==False]
df

,Unnamed: 0,Area,Months,Element,Year,Unit,Value
0,0,Afghanistan,January,Temperature change,1961,°C,0.786
1,1,Afghanistan,January,Temperature change,1962,°C,0.039
2,2,Afghanistan,January,Temperature change,1963,°C,2.718
3,3,Afghanistan,January,Temperature change,1964,°C,-5.226
4,4,Afghanistan,January,Temperature change,1965,°C,1.889
...,...,...,...,...,...,...,...
544709,544709,OECD,Meteorological year,Standard Deviation,2017,°C,0.260
544710,544710,OECD,Meteorological year,Standard Deviation,2018,°C,0.260
544711,544711,OECD,Meteorological year,Standard Deviation,2019,°C,0.260
544712,544712,OECD,Meteorological year,Standard Deviation,2020,°C,0.260
544713,544713,OECD,Meteorological year,Standard Deviation,2021,°C,0.260

In [10]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df

               Area               Months             Element  Year Unit  Value
0       Afghanistan              January  Temperature change  1961   °C  0.786
1       Afghanistan              January  Temperature change  1962   °C  0.039
2       Afghanistan              January  Temperature change  1963   °C  2.718
3       Afghanistan              January  Temperature change  1964   °C -5.226
4       Afghanistan              January  Temperature change  1965   °C  1.889
...             ...                  ...                 ...   ...  ...    ...
544709         OECD  Meteorological year  Standard Deviation  2017   °C  0.260
544710         OECD  Meteorological year  Standard Deviation  2018   °C  0.260
544711         OECD  Meteorological year  Standard Deviation  2019   °C  0.260
544712         OECD  Meteorological year  Standard Deviation  2020   °C  0.260
544713         OECD  Meteorological year  Standard Deviation  2021   °C  0.260

[416546 rows x 6 columns]

In [12]:
df.to_csv('Enviroment2.csv')

In [13]:
df = pd.read_csv('trade_crops/Export_Quantity.csv')

In [14]:
df

,Unnamed: 0,area,item_code,item,element,year,unit,value
0,1279,Afghanistan,44,Barley,Export Quantity,2016,tonnes,2.0
1,1280,Afghanistan,44,Barley,Export Quantity,2017,tonnes,1.0
2,1281,Afghanistan,44,Barley,Export Quantity,2018,tonnes,1914.0
3,1282,Afghanistan,44,Barley,Export Quantity,2019,tonnes,3485.0
4,1283,Afghanistan,44,Barley,Export Quantity,2020,tonnes,1528.0
...,...,...,...,...,...,...,...,...
51181,12662582,Zimbabwe,15,Wheat,Export Quantity,2016,tonnes,0.0
51182,12662583,Zimbabwe,15,Wheat,Export Quantity,2017,tonnes,16500.0
51183,12662584,Zimbabwe,15,Wheat,Export Quantity,2018,tonnes,7.0
51184,12662585,Zimbabwe,15,Wheat,Export Quantity,2019,tonnes,300.0
51185,12662586,Zimbabwe,15,Wheat,Export Quantity,2020,tonnes,2083.0

In [15]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              area  item_code    item          element  year    unit    value
0      Afghanistan         44  Barley  Export Quantity  2016  tonnes      2.0
1      Afghanistan         44  Barley  Export Quantity  2017  tonnes      1.0
2      Afghanistan         44  Barley  Export Quantity  2018  tonnes   1914.0
3      Afghanistan         44  Barley  Export Quantity  2019  tonnes   3485.0
4      Afghanistan         44  Barley  Export Quantity  2020  tonnes   1528.0
...            ...        ...     ...              ...   ...     ...      ...
51181     Zimbabwe         15   Wheat  Export Quantity  2016  tonnes      0.0
51182     Zimbabwe         15   Wheat  Export Quantity  2017  tonnes  16500.0
51183     Zimbabwe         15   Wheat  Export Quantity  2018  tonnes      7.0
51184     Zimbabwe         15   Wheat  Export Quantity  2019  tonnes    300.0
51185     Zimbabwe         15   Wheat  Export Quantity  2020  tonnes   2083.0

[51186 rows x 7 columns]

In [16]:
df.to_csv('Export_Quantity.csv')

In [17]:
df.area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile',
       'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'China, mainland', 'China, Taiwan Province of', 'Colombia',
       'Comoros', 'Congo', 'Costa Rica', "Côte d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Ethiopia PDR', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritius', 'Mexico', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe'], dtype=object)

In [18]:
df = pd.read_csv('trade_crops/trade_crops_countries_import_q.csv')

In [19]:
df

,Unnamed: 0,area,item_code,item,element,year,unit,value
0,1192,Afghanistan,44,Barley,Import Quantity,1995,tonnes,3800.0
1,1193,Afghanistan,44,Barley,Import Quantity,1996,tonnes,0.0
2,1194,Afghanistan,44,Barley,Import Quantity,1997,tonnes,0.0
3,1195,Afghanistan,44,Barley,Import Quantity,1998,tonnes,0.0
4,1196,Afghanistan,44,Barley,Import Quantity,1999,tonnes,0.0
...,...,...,...,...,...,...,...,...
75541,12662462,Zimbabwe,15,Wheat,Import Quantity,2016,tonnes,268891.0
75542,12662463,Zimbabwe,15,Wheat,Import Quantity,2017,tonnes,205760.0
75543,12662464,Zimbabwe,15,Wheat,Import Quantity,2018,tonnes,276776.0
75544,12662465,Zimbabwe,15,Wheat,Import Quantity,2019,tonnes,124632.0
75545,12662466,Zimbabwe,15,Wheat,Import Quantity,2020,tonnes,244249.0

In [20]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              area  item_code    item          element  year    unit     value
0      Afghanistan         44  Barley  Import Quantity  1995  tonnes    3800.0
1      Afghanistan         44  Barley  Import Quantity  1996  tonnes       0.0
2      Afghanistan         44  Barley  Import Quantity  1997  tonnes       0.0
3      Afghanistan         44  Barley  Import Quantity  1998  tonnes       0.0
4      Afghanistan         44  Barley  Import Quantity  1999  tonnes       0.0
...            ...        ...     ...              ...   ...     ...       ...
75541     Zimbabwe         15   Wheat  Import Quantity  2016  tonnes  268891.0
75542     Zimbabwe         15   Wheat  Import Quantity  2017  tonnes  205760.0
75543     Zimbabwe         15   Wheat  Import Quantity  2018  tonnes  276776.0
75544     Zimbabwe         15   Wheat  Import Quantity  2019  tonnes  124632.0
75545     Zimbabwe         15   Wheat  Import Quantity  2020  tonnes  244249.0

[75546 rows x 7 columns]

In [21]:
df.to_csv('Import_Quantity.csv')

In [26]:
df['area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)

In [27]:
df.area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba',
       'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Türkiye',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'USSR', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yugoslav SFR', 'Zambia', 'Zimbabwe'], dtype=object)

In [29]:
df.to_csv('Import_Quantity2.csv')

In [32]:
df = pd.read_csv('Enviroment.csv')
df

,Unnamed: 0,Area,Months,Element,Year,Unit,Value
0,0,Afghanistan,January,Temperature change,1961,°C,0.786
1,1,Afghanistan,January,Temperature change,1962,°C,0.039
2,2,Afghanistan,January,Temperature change,1963,°C,2.718
3,3,Afghanistan,January,Temperature change,1964,°C,-5.226
4,4,Afghanistan,January,Temperature change,1965,°C,1.889
...,...,...,...,...,...,...,...
416541,544709,OECD,Meteorological year,Standard Deviation,2017,°C,0.260
416542,544710,OECD,Meteorological year,Standard Deviation,2018,°C,0.260
416543,544711,OECD,Meteorological year,Standard Deviation,2019,°C,0.260
416544,544712,OECD,Meteorological year,Standard Deviation,2020,°C,0.260
416545,544713,OECD,Meteorological year,Standard Deviation,2021,°C,0.260

In [33]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)

In [35]:
df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guyana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Federated States of)',
       'Midway Island', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles (former)', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Norfolk Island', 'North Macedonia', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Türkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wake Island', 'Wallis and Futuna Islands', 'Western Sahara',
       'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [36]:
df.to_csv('Enviroment.csv')

In [37]:
df = pd.read_csv('Enviroment.csv')
df

,Unnamed: 0.1,Unnamed: 0,Area,Months,Element,Year,Unit,Value
0,0,0,Afghanistan,January,Temperature change,1961,°C,0.786
1,1,1,Afghanistan,January,Temperature change,1962,°C,0.039
2,2,2,Afghanistan,January,Temperature change,1963,°C,2.718
3,3,3,Afghanistan,January,Temperature change,1964,°C,-5.226
4,4,4,Afghanistan,January,Temperature change,1965,°C,1.889
...,...,...,...,...,...,...,...,...
416541,416541,544709,OECD,Meteorological year,Standard Deviation,2017,°C,0.260
416542,416542,544710,OECD,Meteorological year,Standard Deviation,2018,°C,0.260
416543,416543,544711,OECD,Meteorological year,Standard Deviation,2019,°C,0.260
416544,416544,544712,OECD,Meteorological year,Standard Deviation,2020,°C,0.260
416545,416545,544713,OECD,Meteorological year,Standard Deviation,2021,°C,0.260

In [38]:
df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize', 'Benin',
       'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Channel Islands', 'Chile', 'China', 'China, Hong Kong SAR',
       'China, Macao SAR', 'China, mainland', 'China, Taiwan Province of',
       'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Czechoslovakia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Ethiopia PDR',
       'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland',
       'France', 'French Guyana', 'French Polynesia',
       'French Southern Territories', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Federated States of)',
       'Midway Island', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles (former)', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Norfolk Island', 'North Macedonia', 'Norway', 'Oman',
       'Pacific Islands Trust Territory', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa',
       'South Georgia and the South Sandwich Islands', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Sudan (former)', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Türkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'USSR', 'Uzbekistan',
       'Vanuatu', 'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wake Island', 'Wallis and Futuna Islands', 'Western Sahara',
       'Yemen', 'Yugoslav SFR', 'Zambia', 'Zimbabwe', 'World', 'Africa',
       'Eastern Africa', 'Middle Africa', 'Northern Africa',
       'Southern Africa', 'Western Africa', 'Americas',
       'Northern America', 'Central America', 'Caribbean',
       'South America', 'Asia', 'Central Asia', 'Eastern Asia',
       'Southern Asia', 'South-eastern Asia', 'Western Asia', 'Europe',
       'Eastern Europe', 'Northern Europe', 'Southern Europe',
       'Western Europe', 'Oceania', 'Australia and New Zealand',
       'Melanesia', 'Micronesia', 'Polynesia', 'European Union (27)',
       'Least Developed Countries', 'Land Locked Developing Countries',
       'Small Island Developing States',
       'Low Income Food Deficit Countries',
       'Net Food Importing Developing Countries', 'Annex I countries',
       'Non-Annex I countries', 'OECD'], dtype=object)

In [39]:
df.drop(columns=["Unnamed: 0", "Unnamed: 0.1"], inplace=True)
df

               Area               Months             Element  Year Unit  Value
0       Afghanistan              January  Temperature change  1961   °C  0.786
1       Afghanistan              January  Temperature change  1962   °C  0.039
2       Afghanistan              January  Temperature change  1963   °C  2.718
3       Afghanistan              January  Temperature change  1964   °C -5.226
4       Afghanistan              January  Temperature change  1965   °C  1.889
...             ...                  ...                 ...   ...  ...    ...
416541         OECD  Meteorological year  Standard Deviation  2017   °C  0.260
416542         OECD  Meteorological year  Standard Deviation  2018   °C  0.260
416543         OECD  Meteorological year  Standard Deviation  2019   °C  0.260
416544         OECD  Meteorological year  Standard Deviation  2020   °C  0.260
416545         OECD  Meteorological year  Standard Deviation  2021   °C  0.260

[416546 rows x 6 columns]

In [40]:
df.to_csv('Enviroment.csv')

In [42]:
df = pd.read_csv('expeditures.csv')
df

,Unnamed: 0,Area,Item,Element,Year,Unit,Value
0,4,Algeria,Agriculture research spending,"Spending, total",2009,million PPP (constant 2011 prices),76.9
1,5,Algeria,Agriculture research spending,"Spending, total",2010,million PPP (constant 2011 prices),71.0
2,6,Algeria,Agriculture research spending,"Spending, total",2011,million PPP (constant 2011 prices),82.9
3,7,Algeria,Agriculture research spending,"Spending, total",2012,million PPP (constant 2011 prices),91.6
4,14,Antigua and Barbuda,Agriculture research spending,"Spending, total",2007,million PPP (constant 2011 prices),1.5
...,...,...,...,...,...,...,...
1542,3089,Zimbabwe,Agriculture research spending,"Spending, total",2012,million PPP (constant 2011 prices),35.8
1543,3090,Zimbabwe,Agriculture research spending,"Spending, total",2013,million PPP (constant 2011 prices),46.3
1544,3091,Zimbabwe,Agriculture research spending,"Spending, total",2014,million PPP (constant 2011 prices),44.2
1545,3092,Zimbabwe,Agriculture research spending,"Spending, total",2015,million PPP (constant 2011 prices),42.9
1546,3093,Zimbabwe,Agriculture research spending,"Spending, total",2016,million PPP (constant 2011 prices),41.6

In [43]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)

In [44]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df

,Area,Item,Element,Year,Unit,Value
0,Algeria,Agriculture research spending,"Spending, total",2009,million PPP (constant 2011 prices),76.9
1,Algeria,Agriculture research spending,"Spending, total",2010,million PPP (constant 2011 prices),71.0
2,Algeria,Agriculture research spending,"Spending, total",2011,million PPP (constant 2011 prices),82.9
3,Algeria,Agriculture research spending,"Spending, total",2012,million PPP (constant 2011 prices),91.6
4,Antigua and Barbuda,Agriculture research spending,"Spending, total",2007,million PPP (constant 2011 prices),1.5
...,...,...,...,...,...,...
1542,Zimbabwe,Agriculture research spending,"Spending, total",2012,million PPP (constant 2011 prices),35.8
1543,Zimbabwe,Agriculture research spending,"Spending, total",2013,million PPP (constant 2011 prices),46.3
1544,Zimbabwe,Agriculture research spending,"Spending, total",2014,million PPP (constant 2011 prices),44.2
1545,Zimbabwe,Agriculture research spending,"Spending, total",2015,million PPP (constant 2011 prices),42.9
1546,Zimbabwe,Agriculture research spending,"Spending, total",2016,million PPP (constant 2011 prices),41.6

In [45]:
df.to_csv('expeditures.csv')

In [46]:
df = pd.read_csv('Export_Quantity.csv')

In [48]:
df['area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)

In [49]:
df

,Unnamed: 0,area,item_code,item,element,year,unit,value
0,0,Afghanistan,44,Barley,Export Quantity,2016,tonnes,2.0
1,1,Afghanistan,44,Barley,Export Quantity,2017,tonnes,1.0
2,2,Afghanistan,44,Barley,Export Quantity,2018,tonnes,1914.0
3,3,Afghanistan,44,Barley,Export Quantity,2019,tonnes,3485.0
4,4,Afghanistan,44,Barley,Export Quantity,2020,tonnes,1528.0
...,...,...,...,...,...,...,...,...
51181,51181,Zimbabwe,15,Wheat,Export Quantity,2016,tonnes,0.0
51182,51182,Zimbabwe,15,Wheat,Export Quantity,2017,tonnes,16500.0
51183,51183,Zimbabwe,15,Wheat,Export Quantity,2018,tonnes,7.0
51184,51184,Zimbabwe,15,Wheat,Export Quantity,2019,tonnes,300.0
51185,51185,Zimbabwe,15,Wheat,Export Quantity,2020,tonnes,2083.0

In [50]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              area  item_code    item          element  year    unit    value
0      Afghanistan         44  Barley  Export Quantity  2016  tonnes      2.0
1      Afghanistan         44  Barley  Export Quantity  2017  tonnes      1.0
2      Afghanistan         44  Barley  Export Quantity  2018  tonnes   1914.0
3      Afghanistan         44  Barley  Export Quantity  2019  tonnes   3485.0
4      Afghanistan         44  Barley  Export Quantity  2020  tonnes   1528.0
...            ...        ...     ...              ...   ...     ...      ...
51181     Zimbabwe         15   Wheat  Export Quantity  2016  tonnes      0.0
51182     Zimbabwe         15   Wheat  Export Quantity  2017  tonnes  16500.0
51183     Zimbabwe         15   Wheat  Export Quantity  2018  tonnes      7.0
51184     Zimbabwe         15   Wheat  Export Quantity  2019  tonnes    300.0
51185     Zimbabwe         15   Wheat  Export Quantity  2020  tonnes   2083.0

[51186 rows x 7 columns]

In [51]:
df.to_csv('Population.csv.csv')

In [53]:
df = pd.read_csv('Import_Quantity.csv')

In [54]:
df['area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              area  item_code    item          element  year    unit     value
0      Afghanistan         44  Barley  Import Quantity  1995  tonnes    3800.0
1      Afghanistan         44  Barley  Import Quantity  1996  tonnes       0.0
2      Afghanistan         44  Barley  Import Quantity  1997  tonnes       0.0
3      Afghanistan         44  Barley  Import Quantity  1998  tonnes       0.0
4      Afghanistan         44  Barley  Import Quantity  1999  tonnes       0.0
...            ...        ...     ...              ...   ...     ...       ...
75541     Zimbabwe         15   Wheat  Import Quantity  2016  tonnes  268891.0
75542     Zimbabwe         15   Wheat  Import Quantity  2017  tonnes  205760.0
75543     Zimbabwe         15   Wheat  Import Quantity  2018  tonnes  276776.0
75544     Zimbabwe         15   Wheat  Import Quantity  2019  tonnes  124632.0
75545     Zimbabwe         15   Wheat  Import Quantity  2020  tonnes  244249.0

[75546 rows x 7 columns]

In [55]:
df.to_csv('Import_Quantity.csv')

In [56]:
df = pd.read_csv('Population.csv')

In [58]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

,Area,Item,Element,Year,Unit,Value
0,Afghanistan,Agricultural land,Share in Land area,1961,%,57.80
1,Afghanistan,Agricultural land,Share in Land area,1962,%,57.89
2,Afghanistan,Agricultural land,Share in Land area,1963,%,57.97
3,Afghanistan,Agricultural land,Share in Land area,1964,%,58.07
4,Afghanistan,Agricultural land,Share in Land area,1965,%,58.07
...,...,...,...,...,...,...
139290,Zimbabwe,Agriculture area under organic agric.,Share in Agricultural land,2016,%,0.02
139291,Zimbabwe,Agriculture area under organic agric.,Share in Agricultural land,2017,%,0.02
139292,Zimbabwe,Agriculture area under organic agric.,Share in Agricultural land,2018,%,0.00
139293,Zimbabwe,Agriculture area under organic agric.,Share in Agricultural land,2019,%,0.01
139294,Zimbabwe,Agriculture area under organic agric.,Share in Agricultural land,2020,%,0.01

In [59]:
df.to_csv('Population.csv')

In [60]:
df = pd.read_csv('production_crops_ha.csv')
df

In [61]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

,Area,Element,Year,Unit,Value
0,Afghanistan,Total Population - Both sexes,1950,1000 persons,7752.118
1,Afghanistan,Total Population - Both sexes,1951,1000 persons,7840.156
2,Afghanistan,Total Population - Both sexes,1952,1000 persons,7935.997
3,Afghanistan,Total Population - Both sexes,1953,1000 persons,8039.694
4,Afghanistan,Total Population - Both sexes,1954,1000 persons,8151.317
...,...,...,...,...,...
135931,Zimbabwe,Urban population,2046,1000 persons,12159.226
135932,Zimbabwe,Urban population,2047,1000 persons,12520.244
135933,Zimbabwe,Urban population,2048,1000 persons,12885.487
135934,Zimbabwe,Urban population,2049,1000 persons,13254.601
135935,Zimbabwe,Urban population,2050,1000 persons,13627.246

In [67]:
df.to_csv('prices.csv')
df.Area.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belgium-Luxembourg', 'Belize',
       'Benin', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China, mainland',
       'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Eritrea',
       'Estonia', 'Ethiopia', 'Ethiopia PDR', 'Fiji', 'Finland', 'France',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestine', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Serbia and Montenegro', 'Sierra Leone',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Sudan (former)', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Türkiye',
       'Turkmenistan', 'Ukraine',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Vanuatu', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [63]:
df = pd.read_csv('prices.csv')
df

,Unnamed: 0,Area,Item,Element,Year,Months,Unit,Value
0,244,Afghanistan,Barley,Producer Price (LCU/tonne),1993,Annual value,LCU,6300.00
1,245,Afghanistan,Barley,Producer Price (LCU/tonne),1994,Annual value,LCU,6200.00
2,246,Afghanistan,Barley,Producer Price (LCU/tonne),1995,Annual value,LCU,6500.00
3,247,Afghanistan,Barley,Producer Price (LCU/tonne),1996,Annual value,LCU,18900.00
4,248,Afghanistan,Barley,Producer Price (LCU/tonne),1997,Annual value,LCU,27000.00
...,...,...,...,...,...,...,...,...
103558,1094274,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2017,Annual value,NaN,102.32
103559,1094275,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2018,Annual value,NaN,127.18
103560,1094276,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2019,Annual value,NaN,375.77
103561,1094277,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2020,Annual value,NaN,624.35
103562,1094278,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2021,Annual value,NaN,872.93

In [64]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

,Area,Item,Element,Year,Months,Unit,Value
0,Afghanistan,Barley,Producer Price (LCU/tonne),1993,Annual value,LCU,6300.00
1,Afghanistan,Barley,Producer Price (LCU/tonne),1994,Annual value,LCU,6200.00
2,Afghanistan,Barley,Producer Price (LCU/tonne),1995,Annual value,LCU,6500.00
3,Afghanistan,Barley,Producer Price (LCU/tonne),1996,Annual value,LCU,18900.00
4,Afghanistan,Barley,Producer Price (LCU/tonne),1997,Annual value,LCU,27000.00
...,...,...,...,...,...,...,...
103558,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2017,Annual value,NaN,102.32
103559,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2018,Annual value,NaN,127.18
103560,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2019,Annual value,NaN,375.77
103561,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2020,Annual value,NaN,624.35
103562,Zimbabwe,Wheat,Producer Price Index (2014-2016 = 100),2021,Annual value,NaN,872.93

In [65]:
df.to_csv('production_crops_ha.csv')

In [68]:
df = pd.read_csv('production_crops_production.csv')
df

,Unnamed: 0,Area,Item Code,Item,Element,Year,Unit,Value
0,712,Afghanistan,44,Barley,Area harvested,1961,ha,350000.0
1,713,Afghanistan,44,Barley,Area harvested,1962,ha,350000.0
2,714,Afghanistan,44,Barley,Area harvested,1963,ha,350000.0
3,715,Afghanistan,44,Barley,Area harvested,1964,ha,350000.0
4,716,Afghanistan,44,Barley,Area harvested,1965,ha,350000.0
...,...,...,...,...,...,...,...,...
52023,2804522,Zimbabwe,15,Wheat,Area harvested,2016,ha,22094.0
52024,2804523,Zimbabwe,15,Wheat,Area harvested,2017,ha,22070.0
52025,2804524,Zimbabwe,15,Wheat,Area harvested,2018,ha,27767.0
52026,2804525,Zimbabwe,15,Wheat,Area harvested,2019,ha,43769.0
52027,2804526,Zimbabwe,15,Wheat,Area harvested,2020,ha,82068.0

In [69]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              Area  Item Code    Item         Element  Year Unit     Value
0      Afghanistan         44  Barley  Area harvested  1961   ha  350000.0
1      Afghanistan         44  Barley  Area harvested  1962   ha  350000.0
2      Afghanistan         44  Barley  Area harvested  1963   ha  350000.0
3      Afghanistan         44  Barley  Area harvested  1964   ha  350000.0
4      Afghanistan         44  Barley  Area harvested  1965   ha  350000.0
...            ...        ...     ...             ...   ...  ...       ...
52023     Zimbabwe         15   Wheat  Area harvested  2016   ha   22094.0
52024     Zimbabwe         15   Wheat  Area harvested  2017   ha   22070.0
52025     Zimbabwe         15   Wheat  Area harvested  2018   ha   27767.0
52026     Zimbabwe         15   Wheat  Area harvested  2019   ha   43769.0
52027     Zimbabwe         15   Wheat  Area harvested  2020   ha   82068.0

[52028 rows x 7 columns]

In [70]:
df.to_csv('production_crops_yield.csv')

In [71]:
df = pd.read_csv('production_crops_yield.csv')
df

,Unnamed: 0,Area,Item Code,Item,Element,Year,Unit,Value
0,832,Afghanistan,44,Barley,Production,1961,tonnes,378000.0
1,833,Afghanistan,44,Barley,Production,1962,tonnes,378000.0
2,834,Afghanistan,44,Barley,Production,1963,tonnes,378000.0
3,835,Afghanistan,44,Barley,Production,1964,tonnes,380000.0
4,836,Afghanistan,44,Barley,Production,1965,tonnes,380000.0
...,...,...,...,...,...,...,...,...
49673,2804642,Zimbabwe,15,Wheat,Production,2016,tonnes,42008.0
49674,2804643,Zimbabwe,15,Wheat,Production,2017,tonnes,38715.0
49675,2804644,Zimbabwe,15,Wheat,Production,2018,tonnes,45000.0
49676,2804645,Zimbabwe,15,Wheat,Production,2019,tonnes,80000.0
49677,2804646,Zimbabwe,15,Wheat,Production,2020,tonnes,150000.0

In [72]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              Area  Item Code    Item     Element  Year    Unit     Value
0      Afghanistan         44  Barley  Production  1961  tonnes  378000.0
1      Afghanistan         44  Barley  Production  1962  tonnes  378000.0
2      Afghanistan         44  Barley  Production  1963  tonnes  378000.0
3      Afghanistan         44  Barley  Production  1964  tonnes  380000.0
4      Afghanistan         44  Barley  Production  1965  tonnes  380000.0
...            ...        ...     ...         ...   ...     ...       ...
49673     Zimbabwe         15   Wheat  Production  2016  tonnes   42008.0
49674     Zimbabwe         15   Wheat  Production  2017  tonnes   38715.0
49675     Zimbabwe         15   Wheat  Production  2018  tonnes   45000.0
49676     Zimbabwe         15   Wheat  Production  2019  tonnes   80000.0
49677     Zimbabwe         15   Wheat  Production  2020  tonnes  150000.0

[49678 rows x 7 columns]

In [73]:
df.to_csv('production_crops_yield.csv')

In [74]:
df = pd.read_csv('production_f.csv')
df

,Unnamed: 0,Area,Item Code,Item,Element,Year,Unit,Value
0,772,Afghanistan,44,Barley,Yield,1961,hg/ha,10800.0
1,773,Afghanistan,44,Barley,Yield,1962,hg/ha,10800.0
2,774,Afghanistan,44,Barley,Yield,1963,hg/ha,10800.0
3,775,Afghanistan,44,Barley,Yield,1964,hg/ha,10857.0
4,776,Afghanistan,44,Barley,Yield,1965,hg/ha,10857.0
...,...,...,...,...,...,...,...,...
48872,2804582,Zimbabwe,15,Wheat,Yield,2016,hg/ha,19013.0
48873,2804583,Zimbabwe,15,Wheat,Yield,2017,hg/ha,17542.0
48874,2804584,Zimbabwe,15,Wheat,Yield,2018,hg/ha,16206.0
48875,2804585,Zimbabwe,15,Wheat,Yield,2019,hg/ha,18278.0
48876,2804586,Zimbabwe,15,Wheat,Yield,2020,hg/ha,18278.0

In [75]:
df['Area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              Area  Item Code    Item Element  Year   Unit    Value
0      Afghanistan         44  Barley   Yield  1961  hg/ha  10800.0
1      Afghanistan         44  Barley   Yield  1962  hg/ha  10800.0
2      Afghanistan         44  Barley   Yield  1963  hg/ha  10800.0
3      Afghanistan         44  Barley   Yield  1964  hg/ha  10857.0
4      Afghanistan         44  Barley   Yield  1965  hg/ha  10857.0
...            ...        ...     ...     ...   ...    ...      ...
48872     Zimbabwe         15   Wheat   Yield  2016  hg/ha  19013.0
48873     Zimbabwe         15   Wheat   Yield  2017  hg/ha  17542.0
48874     Zimbabwe         15   Wheat   Yield  2018  hg/ha  16206.0
48875     Zimbabwe         15   Wheat   Yield  2019  hg/ha  18278.0
48876     Zimbabwe         15   Wheat   Yield  2020  hg/ha  18278.0

[48877 rows x 7 columns]

In [76]:
df.to_csv('production_f.csv')

In [86]:
df = pd.read_csv('trade_crops/trade_crops_countries_import_Value.csv')
df

,Unnamed: 0,area,item_code,item,element,year,unit,value
0,1252,Afghanistan,44,Barley,Import Value,1995,1000 US$,420.0
1,1253,Afghanistan,44,Barley,Import Value,1996,1000 US$,0.0
2,1254,Afghanistan,44,Barley,Import Value,1997,1000 US$,0.0
3,1255,Afghanistan,44,Barley,Import Value,1998,1000 US$,0.0
4,1256,Afghanistan,44,Barley,Import Value,1999,1000 US$,0.0
...,...,...,...,...,...,...,...,...
75673,12662522,Zimbabwe,15,Wheat,Import Value,2016,1000 US$,97892.0
75674,12662523,Zimbabwe,15,Wheat,Import Value,2017,1000 US$,76466.0
75675,12662524,Zimbabwe,15,Wheat,Import Value,2018,1000 US$,108068.0
75676,12662525,Zimbabwe,15,Wheat,Import Value,2019,1000 US$,51617.0
75677,12662526,Zimbabwe,15,Wheat,Import Value,2020,1000 US$,102719.0

In [87]:
df['area'].replace({"Côte d'Ivoire":"Cote d'Ivoire"},inplace=True)
df.drop(columns=["Unnamed: 0"], inplace=True)
df

              area  item_code    item       element  year      unit     value
0      Afghanistan         44  Barley  Import Value  1995  1000 US$     420.0
1      Afghanistan         44  Barley  Import Value  1996  1000 US$       0.0
2      Afghanistan         44  Barley  Import Value  1997  1000 US$       0.0
3      Afghanistan         44  Barley  Import Value  1998  1000 US$       0.0
4      Afghanistan         44  Barley  Import Value  1999  1000 US$       0.0
...            ...        ...     ...           ...   ...       ...       ...
75673     Zimbabwe         15   Wheat  Import Value  2016  1000 US$   97892.0
75674     Zimbabwe         15   Wheat  Import Value  2017  1000 US$   76466.0
75675     Zimbabwe         15   Wheat  Import Value  2018  1000 US$  108068.0
75676     Zimbabwe         15   Wheat  Import Value  2019  1000 US$   51617.0
75677     Zimbabwe         15   Wheat  Import Value  2020  1000 US$  102719.0

[75678 rows x 7 columns]

In [88]:
df.to_csv('Import_Value.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'trade_crops_countries_Export_Quantity.csv'