In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Enviroment.csv')

In [8]:
df.Months.unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December',
       'Meteorological year'], dtype=object)

In [9]:
 
df = df[df["Months"].str.contains("Dec\x96Jan\x96Feb|Mar\x96Apr\x96May|Jun\x96Jul\x96Aug|Sep\x96Oct\x96Nov")==False]
df

,Unnamed: 0,Area,Months,Element,Year,Unit,Value
0,0,Afghanistan,January,Temperature change,1961,°C,0.786
1,1,Afghanistan,January,Temperature change,1962,°C,0.039
2,2,Afghanistan,January,Temperature change,1963,°C,2.718
3,3,Afghanistan,January,Temperature change,1964,°C,-5.226
4,4,Afghanistan,January,Temperature change,1965,°C,1.889
...,...,...,...,...,...,...,...
544709,544709,OECD,Meteorological year,Standard Deviation,2017,°C,0.260
544710,544710,OECD,Meteorological year,Standard Deviation,2018,°C,0.260
544711,544711,OECD,Meteorological year,Standard Deviation,2019,°C,0.260
544712,544712,OECD,Meteorological year,Standard Deviation,2020,°C,0.260
544713,544713,OECD,Meteorological year,Standard Deviation,2021,°C,0.260